flask
flask-login
flask-socketio
flask-wtf
beartype
apscheduler
pandas
openpyxl
xlsxwriter
odspy
puremagic
oauthlib
google-auth
google-api-python-client
pypng
qrcode
py-vapid
pywebpush
gunicorn
gevent