{% extends 'setup/base.html' %}
{% from "macro/impostazioni.html" import opzione_testo with context %}

{% block back_url %}{{ url_for('setup.sso') }}{% endblock %}
{% block next_url %}{{ url_for('setup.next') }}{% endblock %}

{% set ssochoice = configurazione.get("ssochoice") %}
{% set ssoprovider = "Google Cloud" if ssochoice == 0 else "Microsoft Entra" %}

{% block content %}

{% if just_changing_sso_provider | default(False) %}

<style>
  .nav-button {
    display: none !important;
  }

  #header-titolo {
    margin: auto;
    margin-top: 30px;
  }

  #progress {
    display: none !important;
  }

  #button-riavvia {
    animation: none !important;
  }

  .opzioni-container.warn {
    background-color: var(--color-danger);
    color: var(--color-danger-fg);
    font-size: 20px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .exclamation {
    font-size: 42px;
  }
</style>
<div class="opzioni-container warn">
  <span class="material-symbols-rounded exclamation">cloud_alert</span>
  <span>Vedi questa pagina perché le credenziali per passare al login con {{ssoprovider}} non sono ancora configurate.</span>
</div>

{% endif %}


<div class="opzioni-container">
  {% if just_changing_sso_provider | default(False) %}
  <h2>Modifica Provider SSO</h2>
  {% else %}
  <h2>Dati Preliminari</h2>
  {% endif %}

  <p>Per poter compilare questa sezione servono dati del progetto {{ssoprovider}}.<br>Assicurati di avere OAuth Client ID e Client Secret a disposizione.<br><a href="/docs#/installazione/server/prerequisiti?id=configurazione-single-sign-on-sso" target="_blank">Scopri come</a>.</p>
</div>
<div class="opzioni-container">
  <ul class="opzioni-lista">
    <li>
      <h5 class="opzione-titolo">{% if ssochoice == 0 %}Google Cloud Client ID{% else %}Microsoft Entra Application (client) ID{% endif %}</h5>
      <p class="opzione-descrizione"></p>
      {% if ssochoice == 0 %}
      {{ opzione_testo(configurazione.get('gclientid')) }}
      {% else %}
      {{ opzione_testo(configurazione.get('msclientid')) }}
      {% endif %}
    </li>
    <div class="opzioni-separator"></div>
    <li>
      <h5 class="opzione-titolo">{% if ssochoice == 0 %}Google Cloud Client Secret{% else %}Microsoft Entra Client Secret{% endif %}</h5>
      <p class="opzione-descrizione"></p>
      {% if ssochoice == 0 %}
      {{ opzione_testo(configurazione.get('gclientsecret')) }}
      {% else %}
      {{ opzione_testo(configurazione.get('msclientsecret')) }}
      {% endif %}
    </li>
    <div class="opzioni-separator"></div>
    <li>
      <h5 class="opzione-titolo">{{ssoprovider}} Redirect URI</h5>
      <p class="opzione-descrizione"></p>
      {{ opzione_testo(configurazione.get('redirecturi')) }}
    </li>
  </ul>
</div>

{% if just_changing_sso_provider | default(False) %}
<button id="button-riavvia"><span>Riavvia</span><span class="arrow material-symbols-rounded">arrow_forward</span></button>

<script>
  document.querySelector("#button-riavvia").onclick = () => {
    document.querySelector("#main-container").style.transition = "all 0.5s";
    document.querySelector("#main-container").style.opacity = "0";
    document.querySelector("#main-frame").style.overflow = "hidden";
    document.querySelector("#main-frame").scrollTo(0, 0);

    document.querySelector("#button-riavvia").style.opacity = "0";
    document.querySelector("#header-titolo").style.marginTop = "100px";
    document.querySelector("#header-titolo svg").style.transition = "width 1s";
    document.querySelector("#header-titolo svg").style.width = "400px";
    document.querySelector("#scuolasync_s").style.animation = "2s 2s loading infinite";

    socket.emit("setup done");

    socket.on("connect", () => {
      window.location.reload();
    });
  }
</script>
{% endif %}

<style>
  #progress {
    width: 80%
  }
</style>
{% endblock %}

{% block scripts %}
<script>
  document.querySelectorAll(".opzione input").forEach(input => {
    input.disabled = false;
  })

  const redirecturi_input = document.querySelector("#redirecturi input");
  redirecturi_input.value = window.location.href.replace("ssoinfo", "loginredirect");
  redirecturi_input.oninput();
  redirecturi_input.disabled = true;
  redirecturi_input.style.opacity = 1;
  redirecturi_input.style.color = "initial";
</script>
{% endblock %}