<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400;700&display=swap">

    <title>Crediti</title>
</head>

<body>
    <div id="main-container">
        <h1>Crediti del sistema</h1>
        <hr>
        <p>Sistema progettato da Chiara Gandolfi e Niccolò Ragazzi, in commissione dall'I.I.S.S "Gandhi" Merano.</p>
        <p>Implementato da <a href="http://njcodev.web.app">Niccolò Ragazzi</a>.</p>
    </div>
    <style>
        #main-container {
            font-family: 'Gabarito', sans-serif;
            margin: 0 200px;
        }

        @media (max-width: 1000px) {
            #main-container {
                margin: 0;
            }
        }
    </style>
</body>

</html>