<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Display ScuolaSync</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap">
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0" />
  <script src="{{ url_for('static', filename='scripts/lib/socket.io.min.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='style/colori.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/display.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
</head>

<body>
  <div id="main-window">
    <div id="main-container">
      <div id="ora-frame" class="frame">
        <div id="ora-container">
          <span id="ora"></span>
          <div id="data-container">
            <span id="giorno"></span>
            <span id="data"></span>
          </div>
        </div>
      </div>
      <div id="qr-frame" class="frame">
        <img src="https://njco.dev/qr2.png" alt="QR Code">
        <span id="qr-arrow" class="material-symbols-rounded">switch_access_shortcut</span>
        <span id="qr-description">Controlla le<br>supplenze online!</span>
      </div>
      <div id="eventi-frame" class="frame">
        <div id="header-eventi">
          <h2 id="header-eventi-titolo">Prossimi Eventi</h2>
        </div>
        <div id="eventi-container">
          <ul id="eventi-lista"></ul>
        </div>
      </div>
      <div id="notizie-frame" class="frame">
        <div id="notizie-container" class="marquee">
          <div id="notizie-lista" class="notizie-lista"></div>
        </div>
      </div>
      <div id="sostituzioni-frame" class="frame">
        <!-- <div id="header-sostituzioni">
          <h2 id="header-sostituzioni-titolo">Sostituzioni</h2>
        </div> -->
        <div id="sostituzioni-main">
          <div id="sostituzioni-container">
            <div id="sostituzioni-didascalie-container">
              <div id="sostituzioni-didascalia-docente" class="sostituzioni-didascalia">
                <span>Docente</span>
              </div>
              <div id="sostituzioni-didascalia-data" class="sostituzioni-didascalia">
                <span>Data</span>
              </div>
              <div id="sostituzioni-didascalia-ora" class="sostituzioni-didascalia">
                <span>Ora</span>
              </div>
              <div id="sostituzioni-didascalia-classe" class="sostituzioni-didascalia">
                <span>Classe</span>
              </div>
              <div id="sostituzioni-didascalia-aula" class="sostituzioni-didascalia">
                <span>Aula</span>
              </div>
              <div id="sostituzioni-didascalia-piano" class="sostituzioni-didascalia">
                <span>Piano</span>
              </div>
              <div id="sostituzioni-didascalia-note" class="sostituzioni-didascalia">
                <span>Note</span>
              </div>
            </div>
            <div id="sostituzioni-lista-container">
              <div id="sostituzioni-messaggio-informativo"><span>Caricamento...</span></div>
              <ul id="sostituzioni-lista">
              </ul>
            </div>
          </div>
          <div id="sostituzioni-pagine">
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    const messaggio_nessuna_sostituzione = "{{ configurazione.get('displaynosostituzionimsg') }}"
    const giorni_futuri_da_mostrare = {{ configurazione.get('displayrangegiornifuturi').valore }}
    const giorni_futuri_da_mostrare_lavorativi = Boolean({{ configurazione.get('displayrangegiornifuturi').unita }})

    let eventi = []
    let notizie = []
    let sostituzioni = []
    let sostituzioni_visualizzate = []

    let ore_predefinite = []
    let aule = []
    let classi = []
    let docenti = []
  </script>
  <script src="{{url_for('static', filename='scripts/lib/compare.js')}}"></script>
  <script src="{{url_for('static', filename='scripts/display/ui.js')}}"></script>
  <script src="{{url_for('static', filename='scripts/display/eventi.js')}}"></script>
  <script src="{{url_for('static', filename='scripts/display/notizie.js')}}"></script>
  <script src="{{url_for('static', filename='scripts/display/sostituzioni.js')}}"></script>
  <script src="{{url_for('static', filename='scripts/display/displaysocket.js')}}"></script>
</body>

</html>