{% from "macro/impostazioni.html" import opzione_utente %}
<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8" />
  <meta name="theme-color" content="#C00F19" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Gestione Utenti</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400;700&display=swap">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/colori.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/header.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/impostazioni.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/gestione_impostazioni.css') }}">
  <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
  <script src="{{ url_for('static', filename='scripts/impostazioni.js') }}" defer></script>
  <script src="{{ url_for('static', filename='scripts/impostazioni/popup.js') }}" defer></script>
  <script src="{{ url_for('static', filename='scripts/impostazioni/utenti.js') }}" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js" onload="notyf = new Notyf({duration: 3000})" defer></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
</head>

<body>
  <div id="header">
    <img id="header-logo" src="{{ url_for('static', filename='images/logo_white.png') }}" alt="Logo Gandhi">
    <div id="header-separator"></div>
    <h1 id="header-titolo">Gestione Utenti</h1>
    <div id="header-pulsanti">
      <a href="{{ url_for('impostazioni.main')}}"><span class="material-symbols-rounded">arrow_back</span></a>
    </div>
  </div>

  <div id="main-frame">
    <div id="main-container">
      <div class="opzione">
        <h5 class="opzione-titolo">Importa utenti da file</h5>
        <p class="opzione-descrizione">Usare preferibilmente file esportati dai gruppi Google. Accettati formati XSLX e CSV, con l'email nella colonna 'Member Email'. Il nome del file dovrebbe assomigliare a questo: 'Members_xxxxxxxxxxxxxxxx_01012023_000000.csv.xlsx'</p>
        <div class="opzione-file">
          <input type="file" id="import-utenti-filepicker">
          <label for="import-utenti-filepicker" class="material-symbols-rounded pulsante">upload_file</label>
          <button onclick="importa_utenti()" class="pulsante">Importa</button>
          <span id="import-utenti-selected-file-label"></span>
        </div>
      </div>
      <div id="container-utenti" class="opzione">
        <div id="nuovo-utente-container">
          <div class="pulsante" onclick="nuovo_utente()"><span class="icon material-symbols-rounded">add</span><span>Nuovo Utente</span></div>
        </div>
        <div id="lista-utenti"></div>
      </div>
      <div class="opzione">
        <h5 class="opzione-titolo">Elimina tutti gli utenti</h5>
        <p class="opzione-descrizione">Elimina tutti gli utenti del sistema tranne quello in uso al momento. Questa azione non è reversibile.</p>
        <div class="pulsante"><span class="icon material-symbols-rounded">delete</span><span>Elimina</span></div>
      </div>
    </div>
    <div id="popup-conferma-container" class="hidden">
      <div id="popup-conferma">
        <div id="pulsante-chiudi-popup-conferma" onclick="nascondi_popup_conferma()"><span class="material-symbols-rounded">close</span></div>
        <h2 id="popup-conferma-titolo"></h2>
        <p id="popup-conferma-descrizione"></p>
        <div id="popup-conferma-pulsanti">
          <div id="popup-conferma-pulsante-secondario" class="pulsante"></div>
          <div id="popup-conferma-pulsante-primario" class="pulsante"></div>
        </div>
      </div>
    </div>
  </div>
  <script>
    let utenti = {{ utenti | tojson }}
  </script>
</body>

</html>