{% from "macro/impostazioni.html" import opzione_testo, 
                                         opzione_numero,
                                         opzione_numero_unita,
                                         opzione_checkbox,
                                         opzione_colorpicker,
                                         opzione_selezione with context %}
<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="{{ url_for('static', filename='scripts/impostazioni.js') }}" defer></script>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script>
      var socket = io();
    </script>
    <title>Impostazioni</title>
  </head>
  <body>
    <h1>Impostazioni</h1>
    <button onclick="location.href=`{{ url_for('online.index') }}`">Indietro</button>
    <br>
    {% for sezione in configurazione.sezioni %}
      <a href="#{{sezione.id}}"><button>{{sezione.titolo}}</button></a>
    {% endfor %}
      <ul>
        {% for sezione in configurazione.sezioni %}
          <li id="{{sezione.id}}">
            <h3>{{sezione.titolo}}</h3>
            <p>{{sezione.descrizione}}</p>
            <ul>
              {% for opzione in configurazione.opzioni %}
              {% if opzione.sezione == sezione.id %}
                <li>
                  <h5>{{opzione.titolo}}</h5>
                  <p>{{opzione.descrizione}}</p>
                  {% if opzione.tipo == opzione.TESTO %}
                    {{ opzione_testo(opzione) }}
                  {% elif opzione.tipo == opzione.NUMERO %}
                    {{ opzione_numero(opzione) }}
                  {% elif opzione.tipo == opzione.NUMERO_UNITA %}
                    {{ opzione_numero_unita(opzione) }}
                  {% elif opzione.tipo == opzione.BOOLEANO %}
                    {{ opzione_checkbox(opzione) }}
                  {% elif opzione.tipo == opzione.COLORE %}
                    {{ opzione_colorpicker(opzione) }}
                  {% elif opzione.tipo == opzione.SELEZIONE %}
                    {{ opzione_selezione(opzione) }}
                  {% endif %}
                </li>
              {% endif %}
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
      <button id="applica" onclick="applica()">Applica</button>
    </form>
  </body>
</html>
