<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sostituzioni</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400;700&display=swap" rel="stylesheet">
  <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script> -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"></link> -->
  <!-- <script src="{{ url_for('static', filename='scripts/logout.js') }}"></script> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style/header.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/index.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/gestionedati.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
</head>

<body>
  <div id="header">
    <img id="header-logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo Gandhi">
    <div id="header-separator"></div>
    <h1 id="header-titolo">Gestione Digitale</h1>
    <div id="header-pulsantitest">
      <button onclick="location.href=`{{ url_for('auth.logout')}}`">Logout</button>
      <button onclick="location.href=`{{ url_for('impostazioni.main')}}`">Impostazioni</button>
      <button onclick="socket.emit('test', {ciao:'ok'})">Test socket</button>
    </div>
  </div>
  <div id="main-window">
    <div id="main-container">
      <div id="eventi-frame" class="frame">
        <h2>Eventi</h2>
      </div>
      <div id="notizie-frame" class="frame">
        <h2>Notizie</h2>
      </div>
      <div id="sostituzioni-frame" class="frame">
        <div id="header-sostituzioni">
          <h2 id="header-sostituzioni-titolo">Sostituzioni</h2>
          <div id="pulsante-nuova-sostituzione" onclick="mostra_gestione_dati()"><span class="icon">+</span><span>Nuova</span></div>
        </div>
        <div id="sostituzioni-filtri-container">
          <div id="sostituzioni-filtro-data">
            <span>data</span>
          </div>
          <div id="sostituzioni-filtro-ora">
            <div class="sostituzioni-filtri-ricerca">
              <input type="text" placeholder="Ora" class="sostituzioni-filtri-input" />
              <div class="sostituzioni-ordinamento">
                <div class="sostituzioni-ordinamento-arrowup"></div>
                <div class="sostituzioni-ordinamento-arrowdown"></div>
              </div>
              <div class="sostituzioni-filtri-dropdown">
                <ul></ul>
              </div>
            </div>
          </div>
          <div id="sostituzioni-filtro-classe">
            <div class="sostituzioni-filtri-ricerca">
              <input type="text" placeholder="Classe" class="sostituzioni-filtri-input" />
              <div class="sostituzioni-ordinamento">
                <div class="sostituzioni-ordinamento-arrowup"></div>
                <div class="sostituzioni-ordinamento-arrowdown"></div>
              </div>
              <div class="sostituzioni-filtri-dropdown">
                <ul></ul>
              </div>
            </div>
          </div>
          <div id="sostituzioni-filtro-aula">
            <div class="sostituzioni-filtri-ricerca">
              <input type="text" placeholder="Aula" class="sostituzioni-filtri-input" />
              <div class="sostituzioni-ordinamento">
                <div class="sostituzioni-ordinamento-arrowup"></div>
                <div class="sostituzioni-ordinamento-arrowdown"></div>
              </div>
              <div class="sostituzioni-filtri-dropdown">
                <ul></ul>
              </div>
            </div>
          </div>
          <div id="sostituzioni-filtro-docente">
            <div class="sostituzioni-filtri-ricerca">
              <input type="text" placeholder="Docente" class="sostituzioni-filtri-input" />
              <div class="sostituzioni-ordinamento">
                <div class="sostituzioni-ordinamento-arrowup"></div>
                <div class="sostituzioni-ordinamento-arrowdown"></div>
              </div>
              <div class="sostituzioni-filtri-dropdown">
                <ul></ul>
              </div>
            </div>
          </div>
          <div id="sostituzioni-filtro-note">
            <div class="sostituzioni-filtri-ricerca">
              <input type="text" placeholder="Note" class="sostituzioni-filtri-input" />
              <div class="sostituzioni-filtri-dropdown">
                <ul></ul>
              </div>
            </div>
          </div>
        </div>
        <div id="sostituzioni-container">
          <div id="sostituzioni-messaggio-informativo"><span>Caricamento...</span></div>
          <ul id="sostituzioni-lista">
          </ul>
        </div>
      </div>
    </div>
    <div id="gestione-dati-container">
      <div id="gestione-dati-frame">
        test
        <div id="pulsante-chiudi-gestione-dati" onclick="nascondi_gestione_dati()"></div>
      </div>
    </div>
  </div>
  <script>
    const messaggio_nessuna_sostituzione = "{{ configurazione.get('nosostituzionimsg') }}"
  </script>
  <script src="{{url_for('static', filename='scripts/fuzzyset.js')}}"></script>
  <script src="{{url_for('static', filename='scripts/sostituzioni.js')}}"></script>
  <script src="{{url_for('static', filename='scripts/filtri_sostituzioni.js')}}"></script>
  <script src="{{url_for('static', filename='scripts/ui.js')}}"></script>
  <script src="{{url_for('static', filename='scripts/onlinesocket.js')}}"></script>
</body>

</html>