<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0" />

  <title>Licenze e Crediti</title>
</head>

<body>
  <div id="main-container">
    <h1>Licenze Software</h1>
    <hr>
    <h3>Licenza sul progetto:</h3>
    <p>&copy; <a href="https://linkedin.com/in/chiara-gandolfi-30266a13/" target="_blank">Chiara Gandolfi</a> e <a href="https://njco.dev" target="_blank">Niccolò Ragazzi</a></p>
    <p>I file di progetto hanno licenza <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International</a>, sono disponibili su richiesta.</p>
    <br>
    <h3>Licenza sul codice sorgente:</h3>
    <p>&copy; <a href="https://njco.dev" target="_blank">Niccolò Ragazzi</a></p>
    <p>Il <a href="https://github.com/nkoexe/scuolasync" target="_blank">codice sorgente</a> è rilasciato sotto la <a href="https://github.com/nkoexe/scuolasync/blob/main/LICENSE" target="_blank">GNU Affero General Public License version 3</a>.</p>
    <br>
    <h3>Licenza sulla documentazione, interfaccia utente e asset grafici:</h3>
    <p>&copy; <a href="https://njco.dev" target="_blank">Niccolò Ragazzi</a></p>
    <p>La documentazione di sistema, il disegno dell'interfaccia grafica, e gli asset grafici del progetto sono rilasciati sotto la licenza <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International</a>.</p>
    <br>
    <h3>Licenza sui dati contenuti:</h3>
    <p>&copy; <a href="https://www.iiss-gandhi-merano.it/" target="_blank">I.I.S.S. "Gandhi" - Merano</a></p>
    <p>I dati contenuti all'interno del sistema sono di proprietà dell'Istituto.</p>
    <br>
    <br>
    <br>
    <h2>Crediti del sistema</h2>
    <hr>
    <p>Sistema progettato da <a href="https://linkedin.com/in/chiara-gandolfi-30266a13/" target="_blank">Chiara Gandolfi</a> e <a href="https://njco.dev" target="_blank">Niccolò Ragazzi</a>, su richiesta dell'<a href="https://www.iiss-gandhi-merano.it/" target="_blank">I.I.S.S "Gandhi" - Merano</a> (referente: il docente vicario prof. Tadeusz Sierotowicz).</p>
    <p>Implementazione a cura di <a href="https://njco.dev" target="_blank">Niccolò Ragazzi</a>.</p>
    <p>Il codice sorgente del sistema è reperibile alla <a href="https://github.com/nkoexe/scuolasync" target="_blank">pagina Github dedicata</a>.</p>
    <br>
    <p><b>Contatto Tecnico:</b> Niccolò Ragazzi &lt;<a href="mailto:hi@njco.dev" target="_blank">hi@njco.dev</a>&gt;</p>
    <br>
    <br>
    <br>
    <h2>Tecnologie utilizzate:</h2>
    <ul>
      <li><span class="material-symbols-rounded icon">folder_data</span><a href="http://python.org" target="_blank">Python</a></li>
      <li><span class="material-symbols-rounded icon">dns</span><a href="https://flask.palletsprojects.com/" target="_blank">Flask</a>, <a href="https://www.sqlite.org/index.html" target="_blank">SQLite</a>, <a href="https://gunicorn.org/" target="_blank">Gunicorn</a>, <a href="https://nginx.org/" target="_blank">Nginx</a></li>
      <li><span class="material-symbols-rounded icon">code</span><span>HTML, CSS, JS</span></li>
    </ul>
    <h2>Software open source utilizzati:</h2>
    <ul>
      <li><span class="material-symbols-rounded icon">hub</span><a href="https://socket.io/" target="_blank">Socket.IO</a></li>
      <li><span class="material-symbols-rounded icon">notifications_active</span><a href="https://carlosroso.com/notyf/" target="_blank">Notyf</a></li>
      <li><span class="material-symbols-rounded icon">data_array</span><a href="https://glench.github.io/fuzzyset.js/" target="_blank">Fuzzyset.js</a></li>
      <li><span class="material-symbols-rounded icon">emoticon</span><a href="https://fonts.google.com/icons" target="_blank">Material Design Icons</a></li>
      <li><span class="material-symbols-rounded icon">menu_book</span><a href="https://docsify.js.org/" target="_blank">Docsify</a></li>
    </ul>
    <br>
    <p>Per dettagli sulle licenze dei software di terze parti utilizzati, si può consultare il file <a href="https://github.com/nkoexe/scuolasync/blob/main/THIRD_PARTY_LICENSES" target="_blank">THIRD_PARTY_LICENSES</a> disponibile nel <a href="https://github.com/nkoexe/sostituzioni" target="_blank">repository del progetto</a>.</p>
  </div>
  <style>
    #main-container {
      max-width: 960px;
      margin: 0 auto;
      padding: 0 10px;
      padding-bottom: 100px;
      font-family: 'Gabarito', sans-serif;
    }

    p {
      line-height: 1.5;
    }

    a {
      color: #0074D9;
      text-decoration: none;
      background-image: linear-gradient(to right, #0074D9, #0074D9);
      background-size: 0 2px;
      background-position: 100% 100%;
      background-repeat: no-repeat;
      transition: background-size 0.3s;
      cursor: pointer;
    }

    a:hover {
      background-size: 100% 2px;
      background-position: 0 100%;
    }

    ul:has(.icon) {
      list-style: none;
    }

    li:has(.icon) {
      display: flex;
      align-items: center;
      white-space: pre;
    }

    .icon {
      padding: 5px;
      margin-right: 10px;
    }
  </style>
</body>

</html>