<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400;700&display=swap">

    <title>Licenze</title>
</head>

<body>
    <div id="main-container">
        <h1>Licenze Software</h1>
        <hr>
        <p>Licenza sui dati contenuti dal sistema: &copy; <a href="https://https://www.iiss-gandhi-merano.it/">I.I.S.S. "Gandhi" Merano</a></p>
        <p>Licenza software: &copy; <a href="https://njcodev.web.app">Niccolò Ragazzi</a></p>
        <br>
        <br>
        <br>
        <h3>Software utilizzati</h3>
    </div>
    <style>
        #main-container {
            font-family: 'Gabarito', sans-serif;
            margin: 0 200px;
        }

        @media (max-width: 1000px) {
            #main-container {
                margin: 0;
            }
        }
    </style>
</body>

</html>