<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
  </script>
  <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
  </script>
  <script src="https://accounts.google.com/gsi/client" async></script>
  <script src="{{ url_for('static', filename='scripts/login.js') }}"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
  <script>
    function start() {
      gapi.load('auth2', function () {
        auth2 = gapi.auth2.init({
          client_id: '985141409906-s8ghsaeeqko93ngldqv8l728oidab0k5.apps.googleusercontent.com.apps.googleusercontent.com',
        });
      });
    }
  </script>
</head>

<body>
  <h1>Login</h1>
  <br />
  <form action="" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <input type="text" name="username" />
    <input type="password" name="password" />
    <input type="submit" value="Login" />
  </form>
  <br>
  <button id="signinButton">Sign in with Google</button>
  <script>
    $('#signinButton').click(function () {
      // signInCallback defined in step 6.
      auth2.grantOfflineAccess().then(signInCallback);
    });
  </script>
  <script>
    function signInCallback(authResult) {
      if (authResult['code']) {

        // Hide the sign-in button now that the user is authorized, for example:
        $('#signinButton').attr('style', 'display: none');

        // Send the code to the server
        $.ajax({
          type: 'POST',
          url: '/logincodetest',
          // Always include an `X-Requested-With` header in every AJAX request,
          // to protect against CSRF attacks.
          headers: {
            'X-Requested-With': 'XMLHttpRequest'
          },
          contentType: 'application/octet-stream; charset=utf-8',
          success: function (result) {
            // Handle or verify the server response.
          },
          processData: false,
          data: authResult['code']
        });
      } else {
        // There was an error.
      }
    }
  </script>
  <br>
  <div id="g_id_onload" data-client_id="985141409906-s8ghsaeeqko93ngldqv8l728oidab0k5.apps.googleusercontent.com" data-context="signin" data-ux_mode="popup" data-callback="submit_login" data-auto_prompt="false"></div>
  <div class="g_id_signin" data-type="standard" data-shape="rectangular" data-theme="outline" data-text="continue_with" data-size="large" data-logo_alignment="left" data-width="250"></div>
</body>

</html>