<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{title}} | Gandhi Merano</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/login.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
</head>

<body>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div id="messages-container">
    {% for message in messages %}
    <div><span class="icon">!</span>{{message}}</div>
    {% endfor %}
  </div>
  {% endif %}
  {% endwith %}
  <div id="design"></div>
  <div id="login-container">
    <div id="title-frame">
      <img id="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo Gandhi">
      <!-- <div>I.I.S.S "Gandhi" - Merano</div> -->
      <!-- <h1>Gestione digitale</h1> -->
      <!-- <h1>Benvenuto</h1> -->
    </div>
    <div id="loginbutton-frame">
      <a href="/googlesso" id="button-accedi">Accedi</a>
    </div>

    <div id="notes-frame">
      <p>L'accesso al sistema è eseguito tramite l'account Google appartenente al tuo istituto scolastico.</p>
      <p>Assicurati di selezionare il tuo account <i>@gandhimerano.com</i></p>
      <p>Non riesci ad accedere? <a href="/fottiti">Richiedi l'accesso.</a></p>
    </div>
  </div>
</body>

</html>