<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400;700&display=swap">

    <title>Privacy</title>
</head>

<body>
    <div id="main-container">
        <h1>Privacy e Cookie</h1>
        <hr>
        <p>Mmm mi piacciono i biscotti.</p>
    </div>
    <style>
        #main-container {
            font-family: 'Gabarito', sans-serif;
            margin: 0 200px;
        }

        @media (max-width: 1000px) {
            #main-container {
                margin: 0;
            }
        }
    </style>
</body>

</html>