<!DOCTYPE html>
<html>

<head>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery.terminal/js/jquery.terminal.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery.terminal/css/jquery.terminal.min.css" />
  <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
  <script>
    var socket = io("/shell");
  </script>
</head>

<body>
  <script>
    $(function () {
      $('body').terminal(
        async function (command) {
          const promise = new Promise(function (resolve, reject) {
            socket.emit('shell', command);
            socket.on('shell', result => {
              socket.off('shell');
              resolve(result);
            });
            setTimeout(reject, 1000);
          });

          const res = await promise;
          this.echo(res)
        },
        {
          greetings: "Sostituzioni"
        });
    });
  </script>
</body>

</html>