<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style/updater.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
  <title>Updater</title>
</head>

<body>
  <div id="main-container">
    <div id="text-container">
      <div id="version"><span>Versione: <a href="https://github.com/nkoexe/sostituzioni/commit/{{version}}" target="_blank">{{version}}</a></span></div>
      <div id="title-container">
        <h1 id="title"></h1>
      </div>
      <p id="description"></p>
    </div>
    <div id="button-container">
      <a id="success-link">
        <div id="button">
          <div id="button-text-container">
            <div id="button-text-container-inner">
              <span id="button-text"></span><span id="button-icon" class="material-symbols-rounded icon">arrow_forward</span>
            </div>
          </div>
          <div id="loading-container">
            <div id="loading"></div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <script>
    const version = "{{version}}"
    const should_reboot = {{ reboot | tojson }}
    document.title = "{{'Reboot' if reboot else 'Update'}}"
  </script>
  <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
  <script src="{{ url_for('static', filename='scripts/updater.js') }}"></script>
</body>

</html>