* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Gabarito', sans-serif;
}

html,
body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    background-color: var(--color-background);
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
}

#main-container>.opzione {
    margin: 20px 0;
}

.opzione {
    background-color: var(--color-opzioni);
    border-radius: 1rem;
    padding: 40px;
}

.pulsante {
    margin-left: 0;
}

.gestione-dati-container .pulsante {
    font-size: 24px;
    padding: 15px 20px;
    background-color: var(--color-accent);
    color: var(--color-accent-text);
}

.gestione-dati-container .pulsante .icon {
    font-size: 30px;
}

.gestione-dati-header {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gestione-dati-lista {
    margin-top: 30px;
}

.operazioni-dato {
    display: flex;
    gap: 10px;
}

.operazioni-dato button {
    cursor: pointer;
    padding: 7px;
    border: var(--border-opzione);
    border-radius: 5px;
}

.pulsante-elimina-dato {
    background-color: var(--color-danger);
    color: var(--color-danger-fg);
}

.pulsante-conferma-modifiche-dato {
    background-color: var(--color-confirm);
    color: var(--color-confirm-fg);
}

#popup-conferma-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000022;
}

#popup-conferma {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
    padding: 40px 50px;
    border-radius: 1rem;
    background-color: var(--color-background);
    box-shadow: 0 2px 5px var(--color-shadow), 0 10px 20px var(--color-shadow);
    z-index: 100;
}

#pulsante-chiudi-popup-conferma {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 45px;
    border-top-right-radius: 1rem;
    cursor: pointer;
}

#pulsante-chiudi-popup-conferma:hover {
    background-color: #ce0c0c;
    color: white;
}

#pulsante-chiudi-popup-conferma span {
    margin: auto;
    user-select: none;
}

#popup-conferma-titolo {
    font-size: 30px;
    font-weight: bold;
}

#popup-conferma-pulsanti {
    margin-top: 30px;
    display: flex;
}

#popup-conferma-pulsanti .pulsante {
    margin: auto;
    padding: 20px 40px;
}

#popup-conferma-pulsante-primario {
    background-color: var(--color-danger);
    color: var(--color-danger-fg);
}

@media (max-width: 600px) {
    .gestione-dati-header {
        padding: 0;
        gap: 10px;
    }

    .gestione-dati-pulsante-nuovo span:last-child {
        display: none;
    }
}