<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8" />
  <meta name="theme-color" content="#C00F19" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="view-transition" content="same-origin" />
  <title>{% block title %}{% endblock %}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/lib/notyf.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/colori.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/header.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/impostazioni.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/gestione_impostazioni/base.css') }}">
  <link rel="stylesheet" id="colortheme_css" href="{{ url_for('static', filename='style/theme/'~configurazione.get('colortheme')~'.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
  {% block head %}
  {% endblock %}
</head>

<body>
  <div id="header">
    <a id="header-logo-link" href="{{url_for('online.index')}}">
      <img id="header-logo" src="{{ url_for('static', filename=configurazione.get('schoolheaderlogo')) }}" alt="Logo scuola">
    </a>
    <div id="header-separator"></div>
    <h1 id="header-titolo">{{self.title()}}</h1>
    <div id="header-pulsanti">
      <a class="pulsante-header" href="{{ url_for('impostazioni.main')}}"><span class="material-symbols-rounded">arrow_back</span></a>
    </div>
  </div>
  {% block body %}
  {% endblock %}
  <div id="popup-conferma-container" class="hidden">
    <div id="popup-conferma">
      <div id="pulsante-chiudi-popup-conferma" onclick="nascondi_popup_conferma()"><span class="material-symbols-rounded">close</span></div>
      <h2 id="popup-conferma-titolo"></h2>
      <p id="popup-conferma-descrizione"></p>
      <div id="popup-conferma-pulsanti">
        <div id="popup-conferma-pulsante-secondario" class="pulsante"></div>
        <div id="popup-conferma-pulsante-primario" class="pulsante"></div>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='scripts/lib/socket.io.min.js') }}" onload="socket = io('/impostazioni');"></script>
  <script src="{{ url_for('static', filename='scripts/gestione_impostazioni/popup.js') }}" defer></script>
  <script src="{{ url_for('static', filename='scripts/lib/notyf.min.js') }}" onload="notyf = new Notyf({duration: 3000, types: [
    {
      type: 'info',
      background: '#ffa726',
      icon: {
        className: 'material-symbols-rounded',
        tagName: 'span',
        text: 'info',
        color: 'white'
      },
    },
  ],
})" defer></script>
  <!-- <script src="{{ url_for('static', filename='scripts/gestione_impostazioni/base.js') }}" defer></script> -->
  {% block scripts %}
  {% endblock %}
</body>

</html>