{% extends "gestione_impostazioni/base.html" %}

{% block title %}Gestione Utenti{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/gestione_impostazioni/utenti.css') }}">
{% endblock %}

{% block body %}
<div id="main-frame">
  <div id="main-container">
    <!-- <div class="opzione">
      <h5 class="opzione-titolo">Importa utenti da file</h5>
      <p class="opzione-descrizione">(NON ANCORA IMPLEMENTATO) Usare preferibilmente file esportati dai gruppi Google. Accettati formati XSLX e CSV, con l'email nella colonna 'Member Email'. Il nome del file dovrebbe assomigliare a questo: 'Members_xxxxxxxxxxxxxxxx_01012023_000000.csv.xlsx'</p>
      <div class="opzione-file">
        <input type="file" id="import-utenti-filepicker">
        <label for="import-utenti-filepicker" class="material-symbols-rounded pulsante">upload_file</label>
        <button onclick="importa_utenti()" class="pulsante">Importa</button>
        <span id="import-utenti-selected-file-label"></span>
      </div>
    </div> -->
    <div id="container-utenti" class="opzione gestione-dati-container">
      <div class="gestione-dati-header">
        <div class="gestione-dati-nuovo-container">
          <button class="pulsante gestione-dati-pulsante-nuovo" onclick="nuovo_utente()"><span class="icon material-symbols-rounded">add</span><span>Nuovo Utente</span></button>
        </div>
      </div>
      <div id="lista-utenti" class="gestione-dati-lista"></div>
    </div>
    <div class="opzione">
      <h5 class="opzione-titolo">Elimina tutti gli utenti</h5>
      <p class="opzione-descrizione">Elimina tutti gli utenti del sistema tranne quello in uso al momento. Questa azione non è reversibile.</p>
      <div class="pulsante" onclick="ui_elimina_tutti_utenti()"><span class="icon material-symbols-rounded">delete</span><span>Elimina</span></div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  let utenti = {{ utenti | tojson }}
</script>
<script src="{{ url_for('static', filename='scripts/gestione_impostazioni/utenti.js') }}" defer></script>
{% endblock %}