:root {
  --color-accent: #556938;
  --color-pulsante: #6c893b;
  --color-evento-urgente: #d2e3b4;
  --color-sostituzioni-incompleta: #4c7f1136;
  --color-sostituzioni-sovrapposizioni: #ff43004a;
  --color-sostituzioni-oggi: #d2e3b4;
}