:root {
  --color-accent: #008080;
  --color-pulsante: #008080;
  --color-evento-urgente: #ffcabd;
  --color-sostituzioni-incompleta: #d0e4e6;
  --color-sostituzioni-sovrapposizioni: #ff43004a;
  --color-sostituzioni-oggi: #ffcabd;
  --color-eventi-bg: #d0e4e6;
  --color-evento-bg: #edfafa;
  --color-notizie-bg: var(--color-eventi-bg);
  --color-notizia-bg: var(--color-evento-bg);
  --color-danger: #a72525;
  --color-selezione-hover-delete-bg: #a72525;
}