:root {
  --color-accent: #5a768a;
  /* --color-sostituzioni-filtri-bg: #d1344c; */
  --color-pulsante: #d1344c;
  --color-evento-urgente: #bed7f3a8;
  --color-sostituzioni-incompleta: #56a5ff29;
  --color-sostituzioni-sovrapposizioni: #ff725d69;
  --color-sostituzioni-oggi: #ff725d69;
}