{% macro opzione_testo(opzione) %}
<div id="{{opzione.id}}" class="opzione opzione-testo">
  <input type="text" value="{{opzione.valore}}" oninput="modificato({{opzione.id}})" {% if opzione.disabilitato %}disabled{% endif %}>
</div>
{% endmacro %}

{% macro opzione_numero(opzione) %}
<div id="{{opzione.id}}" class="opzione opzione-numero">
  <input type="number" value="{{opzione.valore}}" {% if opzione.intervallo %}min={{opzione.intervallo[0]}} max={{opzione.intervallo[1]}}{% endif %} oninput="modificato({{opzione.id}})" {% if opzione.disabilitato %}disabled{% endif %} />
</div>
{% endmacro %}

{% macro opzione_numero_unita(opzione) %}
<div id="{{opzione.id}}" class="opzione opzione-numero-unita">
  <input type="number" value="{{opzione.valore}}" {% if opzione.intervallo %}min={{opzione.intervallo[0]}} max={{opzione.intervallo[1]}}{% endif %} oninput="modificato({{opzione.id}})" {% if opzione.disabilitato %}disabled{% endif %} />
  <div class="container-selezione">
    <select onchange="modificato({{opzione.id}})" {% if opzione.disabilitato %}disabled{% endif %}>
      {% for optionindex in range(opzione.scelte_unita|length) %}
      <option value="{{optionindex}}" {% if opzione.unita==optionindex %}selected{% endif %}>{{opzione.scelte_unita[optionindex]}}</option>
      {% endfor %}
    </select>
  </div>
</div>
{% endmacro %}

{% macro opzione_checkbox(opzione) %}
<div id="{{opzione.id}}" class="opzione opzione-booleano">
  <input type="checkbox" {% if opzione.valore %}checked{% endif %} onclick="modificato({{opzione.id}})" {% if opzione.disabilitato %}disabled{% endif %} />
</div>
{% endmacro %}

{% macro opzione_colorpicker(opzione) %}
{% endmacro %}

{% macro opzione_selezione(opzione) %}
<div id="{{opzione.id}}" class="opzione opzione-selezione container-selezione">
  <select onchange="modificato({{opzione.id}})" {% if opzione.disabilitato %}disabled{% endif %}>
    {% for optionindex in range(opzione.scelte|length) %}
    <option value="{{optionindex}}" {% if opzione.valore==optionindex %}selected{% endif %}>{{opzione.scelte[optionindex]}}</option>
    {% endfor %}
  </select>
</div>
{% endmacro %}

{% macro opzione_percorso(opzione) %}
<div id="{{opzione.id}}" class="opzione opzione-percorso">
  <div class="container-selezione">
    <select onchange="modificato({{opzione.id}})" {% if opzione.disabilitato %}disabled{% endif %}>
      {% for optionindex in range(opzione.scelte_radice|length) %}
      <option value="{{optionindex}}" {% if opzione.radice==optionindex %}selected{% endif %}>{{opzione.scelte_radice[optionindex]}}</option>
      {% endfor %}
    </select>
  </div>
  <input type="text" value="{{opzione.valore}}" oninput="modificato({{opzione.id}})" {% if opzione.disabilitato %}disabled{% endif %} />
</div>
{% endmacro %}

{% macro opzione_file(opzione) %}
<div id="{{opzione.id}}" class="opzione opzione-file">
  <div class="img-container">
    <img src="{{url_for('static', filename=opzione.valore)}}" alt="{{opzione.valore}}">
    <button class="delete-file-button {% if opzione.disabilitato %}hidden{% endif %}" onclick="elimina_file('{{opzione.id}}')"><span class="icon material-symbols-rounded">close</span></button>
  </div>
  <div class="opzione-file-dropzone hidden">
    <input type="file" id="{{opzione.id}}-filepicker" accept="{{opzione.mime}}">
    <label for="{{opzione.id}}-filepicker" tabindex="0"><span>Selezione un file o trascinalo qui</span></label>
  </div>
</div>
{% endmacro %}