{% macro opzione_testo(opzione) %}
<div id="{{opzione.id}}" class="opzione-testo">
  <input type="text" value="{{opzione.valore}}" onkeypress="mostra_pulsante_applica()">
</div>
{% endmacro %}

{% macro opzione_numero(opzione) %}
<div id="{{opzione.id}}"class="opzione-numero">
  <input type="number" value="{{opzione.valore}}" {% if opzione.intervallo %}min={{opzione.intervallo[0]}} max={{opzione.intervallo[1]}}{% endif %} onkeypress="mostra_pulsante_applica()"/>
</div>
{% endmacro %}

{% macro opzione_numero_unita(opzione) %}
{% endmacro %}

{% macro opzione_checkbox(opzione) %}
<div id="{{opzione.id}}" class="opzione-booleano">
  <input type="checkbox" {% if opzione.valore %}checked{% endif %} onclick="mostra_pulsante_applica()"/>
</div>
{% endmacro %}

{% macro opzione_colorpicker(opzione) %}
{% endmacro %}

{% macro opzione_selezione(opzione) %}
<div id="{{opzione.id}}" class="opzione-selezione">
  <select onchange="mostra_pulsante_applica()">
    {% for optionindex in range(opzione.scelte|length) %}
      <option value="{{optionindex}}" {% if opzione.valore==optionindex %}selected{% endif %}>{{opzione.scelte[optionindex]}}</option>
    {% endfor %}
  </select>
</div>
{% endmacro %}
