{% macro textfield(opzione) %}
  <input id="{{opzione.id}}" type="text" value="{{opzione.value}}" />
{% endmacro %}
{% macro numberfield(opzione) %}
  <input id="{{opzione.id}}" type="number" value="{{opzione.value}}" {% if opzione.interval[0] %}min={{opzione.interval[0]}}{% endif %}{% if opzione.interval[1] %}max={{opzione.interval[1]}}{% endif %}/>
{% endmacro %}
{% macro unitnumberfield(opzione) %}
{% endmacro %}
{% macro checkbox(opzione) %}
  <input id="{{opzione.id}}" type="checkbox" {% if opzione.value %}checked{% endif %} />
{% endmacro %}
{% macro colorpicker(opzione) %}
{% endmacro %}
{% macro dropdown(opzione) %}
<select name="{{opzione.id}}" id="{{opzione.id}}">
  {% for optionindex in range(opzione.choices|length) %}
  <option value="{{optionindex}}" {% if opzione.value==optionindex %}selected{% endif %}>{{opzione.choices[optionindex]}}</option>
  {% endfor %}
</select>
{% endmacro %}
