:root {
    --color-background: #F3F6F8;
    --color-scrollbar: #00000046;
    --color-scrollbar-hover: #00000059;
    --color-accent: #C00F19;
    --color-accent-text: #ffffff;
    --color-eventi-bg: #eaeaea;
    --color-notizie-bg: #eaeaea;
    --color-sostituzioni-bg: #eaeaea;
    --color-sostituzioni-filtri-bg: #C00F19;
    --color-sostituzioni-filtri-fg: #ffffff;
    --color-sostituzioni-filtri-placeholder: #ffffffd0;
    --color-sostituzioni-lista1: #f3f3f3;
    --color-sostituzioni-lista2: #fdfdfd;
    --color-shadow: #00000055;
    --color-selezione-bg: #F3F6F8;
    --color-selezione-fg: #0a0a0a;
    --color-selezione-hover-bg: #0000001b;
    --color-selezione-hover-delete-bg: #C00F19;
    --color-selezione-hover-delete-fg: #ffffff;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --color-background: #000000;
        --color-scrollbar: #00000046;
        --color-scrollbar-hover: #ffffff59;
        --color-accent: #C00F19;
        --color-accent-text: #ffffff;
        --color-eventi-bg: #181818;
        --color-notizie-bg: #181818;
        --color-sostituzioni-bg: #181818;
        --color-sostituzioni-filtri-bg: #C00F19;
        --color-sostituzioni-filtri-fg: #ffffff;
        --color-sostituzioni-filtri-placeholder: #ffffff88;
        --color-sostituzioni-lista1: #ffffff21;
        --color-sostituzioni-lista2: #ffffff0e;
        --color-shadow: #ffffff55;
        --color-selezione-bg: #F3F6F8;
        --color-selezione-fg: #0a0a0a;
        --color-selezione-hover-bg: #0000001b;
        --color-selezione-hover-delete-bg: #C00F19;
        --color-selezione-hover-delete-fg: #ffffff;
    }
} */