:root {
    --color-background: #F3F6F8;
    --color-accent: #C00F19;
    --color-accent-text: #ffffff;
    --color-danger: #C00F19;
    --color-danger-fg: #ffffff;
    --color-confirm: #68ab2e;
    --color-confirm-fg: #ffffff;
    --color-success: #61a328;
    --color-success-fg: #ffffff;
    --color-error: #d30404;
    --color-error-fg: #ffffff;
    --color-warning: #ffa726;
    --color-warning-fg: #ffffff;
    --color-info: #0d8ec5;
    --color-info-fg: #ffffff;
    --color-header-bg: var(--color-accent);
    --color-header-fg: var(--color-accent-text);
    --color-pulsante: var(--color-accent);
    --color-pulsante-nuovo: var(--color-pulsante);
    --color-link: #0074D9;
    --color-eventi-bg: var(--color-sostituzioni-bg);
    --color-evento-bg: #f3f3f3;
    --color-evento-urgente: #f0c0bc;
    --color-notizie-bg: var(--color-eventi-bg);
    --color-notizia-bg: var(--color-evento-bg);
    --color-sostituzioni-bg: #eaeaea;
    --color-sostituzioni-filtri-bg: var(--color-accent);
    --color-sostituzioni-filtri-fg: var(--color-accent-text);
    --color-sostituzioni-filtri-placeholder: #ffffffd0;
    --color-sostituzioni-lista1: #f3f3f3;
    --color-sostituzioni-lista2: #fdfdfd;
    --color-sostituzioni-incompleta: #5eaddc36;
    --color-sostituzioni-sovrapposizioni: #ff001136;
    --color-sostituzioni-oggi: #f0c0bc;
    --color-gestionedati-modificato: #ffbc0069;
    --color-element-border: #000000;
    --color-shadow: #00000055;
    --color-input-border: #bababa;
    --color-selezione-bg: #F3F6F8;
    --color-selezione-fg: #0a0a0a;
    --color-selezione-hover-bg: #0000001b;
    --color-selezione-hover-delete-bg: #C00F19;
    --color-selezione-hover-delete-fg: #ffffff;
    --color-scrollbar: #00000046;
    --color-scrollbar-hover: #00000059;
}

.notyf__toast--error .notyf__ripple,
.notyf__toast--error .notyf__message {
    background-color: var(--color-error) !important;
    color: var(--color-error-fg);
}

.notyf__icon--error {
    background-color: var(--color-error-fg);
    color: var(--color-error) !important;
}

.notyf__toast--success .notyf__ripple,
.notyf__toast--success .notyf__message {
    background-color: var(--color-success) !important;
    color: var(--color-success-fg);
}

.notyf__icon--success {
    background-color: var(--color-success-fg);
    color: var(--color-success) !important;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --color-background: #000000;
        --color-scrollbar: #00000046;
        --color-scrollbar-hover: #ffffff59;
        --color-accent: #C00F19;
        --color-accent-text: #ffffff;
        --color-eventi-bg: #181818;
        --color-notizie-bg: #181818;
        --color-sostituzioni-bg: #181818;
        --color-sostituzioni-filtri-bg: #C00F19;
        --color-sostituzioni-filtri-fg: #ffffff;
        --color-sostituzioni-filtri-placeholder: #ffffff88;
        --color-sostituzioni-lista1: #ffffff21;
        --color-sostituzioni-lista2: #ffffff0e;
        --color-shadow: #ffffff55;
        --color-selezione-bg: #F3F6F8;
        --color-selezione-fg: #0a0a0a;
        --color-selezione-hover-bg: #0000001b;
        --color-selezione-hover-delete-bg: #C00F19;
        --color-selezione-hover-delete-fg: #ffffff;
    }
} */


@keyframes slide-out-to-left {
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes slide-out-to-right {
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes slide-in-from-left {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes slide-in-from-right {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes slide-up {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
}

@keyframes slide-down {
    to {
        transform: translateY(100%);
        opacity: 0;
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation: none !important;
        transition: none !important;
    }

    ::view-transition-group(*),
    ::view-transition-old(*),
    ::view-transition-new(*) {

        animation: none !important;
        animation-duration: 0s !important;
        transition: none !important;
    }
}