* {
    font-family: 'Gabarito', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

.hidden {
    display: none !important;
}

html,
body {
    margin: 0;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* SCROLLBAR */
* {
    scrollbar-width: 8px;
    scrollbar-color: var(--color-scrollbar) transparent;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar);
    border-radius: 5px;
}


/* ICONS */
.material-symbols-rounded {
    padding: 5px;
}

/* MARQUEE */
.marquee {
    overflow: hidden;
    display: flex;
}

.marquee span {
    white-space: nowrap;
}

/* MAIN GRID  */
#main-window {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 100%;
}

#main-container {
    background-color: var(--color-background);
    width: 100%;
    height: 100%;
    max-height: 100%;
    padding: 0.5vw;
    display: grid;
    /* usare percentuali esatte invece che 1fr per rendere statico il layout e far funzionare gli scroll */
    grid-template-columns: 20% 80%;
    grid-template-rows: 20% 70% 10%;
}

.frame {
    /* border: 2px solid; */
    border-radius: 1rem;
    margin: 0.3vw;
}

#ora-frame {
    display: flex;
    grid-area: 1/1/2/2;
    background-color: var(--color-accent);
    color: var(--color-accent-text);
}

#eventi-frame {
    grid-area: 2/1/3/2;
    background-color: var(--color-eventi-bg);
}

#notizie-frame {
    grid-area: 3/1/4/3;
    background-color: var(--color-notizie-bg);
}

#sostituzioni-frame {
    grid-area: 1/2/3/3;
    background-color: var(--color-sostituzioni-bg);
    display: flex;
    flex-direction: column;
}

/* DATA E ORA */
#ora-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#ora {
    margin: auto;
    margin-left: 3.4vw;
    font-size: 3.3vw;
    font-weight: bold;
}

#data-container {
    margin: auto;
    display: flex;
    font-size: 1.8vw;
    gap: 0.5vw;
}

#giorno {
    font-weight: bold;
}

#data {}

/* HEADER SOSTITUZIONI */
#header-sostituzioni {
    display: flex;
    height: 80px;
    min-height: 80px;
}

#header-sostituzioni-titolo {
    font-size: 35px;
    margin: auto 30px;
}

#sostituzioni-main {
    flex: 1;
    overflow-x: auto;
    height: 100%;
    padding: 0.5vw 0.5vw;
}

#sostituzioni-container {
    height: 100%;
}


/* DIDASCALIE TABELLA SOSTITUZIONI */
#sostituzioni-didascalie-container {
    display: flex;
    flex-wrap: nowrap;
    height: 2.5vw;
    width: 100%;
    font-size: 1.25vw;
    font-style: italic;
    background-color: var(--color-sostituzioni-filtri-bg);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#sostituzioni-didascalie-container>div {
    height: 100%;
}

/* larghezza dei riquadri dei filtri, da matchare con i riquadri delle sostituzioni */
#sostituzioni-didascalia-data,
#sostituzioni-lista .sostituzione-data {
    width: 8vw;
}

#sostituzioni-didascalia-ora,
#sostituzioni-lista .sostituzione-ora {
    width: 10vw;
}

#sostituzioni-didascalia-docente,
#sostituzioni-lista .sostituzione-docente {
    width: 15vw;
}

#sostituzioni-didascalia-aula,
#sostituzioni-lista .sostituzione-aula {
    width: 10vw;
}

#sostituzioni-didascalia-classe,
#sostituzioni-lista .sostituzione-classe {
    width: 10vw;
}

#sostituzioni-didascalia-note,
#sostituzioni-lista .sostituzione-note {
    flex: 1;
}

.sostituzioni-didascalia {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

.sostituzioni-didascalia span {
    margin: auto;
    margin-left: 10px;
    color: var(--color-sostituzioni-filtri-placeholder);
}


/* SOSTITUZIONI */
#sostituzioni-lista-container {
    overflow-y: auto;
    height: calc(100% - 50px);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

#sostituzioni-messaggio-informativo {
    display: flex;
    width: 100%;
    height: 100%;
}

#sostituzioni-messaggio-informativo span {
    margin: auto;
    font-size: 20px;
    color: #00000070;
}


/* LISTA SOSTITUZIONI */
#sostituzioni-lista {}

#sostituzioni-lista li {
    position: relative;
    width: 100%;
}

/* SINGOLA SOSTITUZIONE */
#sostituzioni-lista .sostituzione {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 100%;
    min-height: 5vh;
    max-height: 8vh;
    font-size: 1.2vw;
    background-color: var(--color-sostituzioni-lista2);
    border-radius: 0;
}

/* colori alternati */
#sostituzioni-lista :nth-child(odd) .sostituzione {
    background-color: var(--color-sostituzioni-lista1);
}

#sostituzioni-lista .sostituzione div.sostituzione-data {
    display: flex;
    overflow: auto;
    border-right: 1px solid var(--color-sostituzioni-lista1);
}

#sostituzioni-lista :nth-child(odd) .sostituzione div.sostituzione-data {
    border-right: 1px solid var(--color-sostituzioni-lista2);
}

#sostituzioni-lista .sostituzione div.sostituzione-data span {
    margin: auto;
    margin-left: 10px;
}


/* fix radius del primo elemento a sinistra */
#sostituzioni-lista .sostituzione div.sostituzione-data:first-of-type {
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}

/* e dell'ultimo a destra */
#sostituzioni-lista .sostituzione div.sostituzione-data:last-of-type {
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    border-right: none;
}


/* HEADER EVENTI */
#header-eventi {
    display: flex;
    height: 10%;
}

#header-eventi-titolo {
    margin: auto 7%;
    padding-top: 2%;
    font-size: 1.6vw;
    font-weight: normal;
    font-style: italic;
    color: #353535;
}


/* LISTA EVENTI */
#eventi-container {
    height: 90%;
    margin: 0 10px;
    overflow: auto;
}

#eventi-lista-container {}

.evento {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    padding: 10px 15px;
    gap: 10px;
    background-color: #f3f3f3;
    border-radius: 1rem;
}

.evento.urgente {
    padding: 15px 15px;
    background-color: #f0c0bc;
    border-radius: 0.5rem;
}


.evento-data {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1vw;
    /* font-style: italic; */
    color: #535353;
}

.evento-testo {
    flex: 1;
    font-size: 1.2vw;
}

/* LISTA NOTIZIE */
#notizie-container {
    height: 100%;
    padding: 0 10px;
}

#notizie-lista {
    height: 100%;
    display: flex;
    gap: 40px;
    padding-right: 40px;
    font-size: 1.7vw;
}

.notizia {
    margin: auto;
}