#gestione-dati-container {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #0000001f;
    /* pointer-events: none; */
}

#gestione-dati-frame {
    /* pointer-events: all; */
    position: relative;
    min-width: 400px;
    min-height: 500px;
    width: 70%;
    height: 80%;
    margin: auto;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 10px 25px #00000032;
}

#gestione-dati-frame .gestione-dati-element {
    width: 100%;
    height: 100%;
}

#pulsante-chiudi-gestione-dati {
    position: absolute;
    top: 0;
    right: 0;
    width: 65px;
    height: 40px;
    border-top-right-radius: 1rem;
    text-align: center;
    padding: 7px;
    font-weight: bold;
    cursor: pointer;
}

#pulsante-chiudi-gestione-dati:hover {
    background-color: #ce0c0c;
    color: white;
}

.pulsante-primario-gestione-dati {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px 15px;
}

.pulsante-secondario-gestione-dati {
    position: absolute;
    bottom: 0;
    right: 100px;
    padding: 10px 15px;
}

}