#gestione-dati-container {
    position: absolute;
    display: none;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #0000001f;
    pointer-events: none;
    transition: all 0.2s allow-discrete;
}

#gestione-dati-container.open {
    display: flex;
    opacity: 1;
}

@starting-style {
    #gestione-dati-container.open {
        display: flex;
        opacity: 0;
    }
}

#gestione-dati-frame {
    position: relative;
    flex-direction: column;
    display: flex;
    gap: 30px;
    width: 70%;
    /* min-width: 400px; */
    max-width: 1000px;
    height: 70%;
    min-height: 500px;
    max-height: 800px;
    margin: auto;
    padding: max(30px, 3vh);
    background-color: var(--color-background);
    border-radius: 1rem;
    box-shadow: 0 10px 25px var(--color-shadow), 0 0 10px var(--color-shadow);
    translate: 0 -10px;
    transition: all 0.2s;
    pointer-events: all;
}

#gestione-dati-container.open #gestione-dati-frame {
    translate: 0 0;
}

#gestione-dati-frame input,
#gestione-dati-frame select,
#gestione-dati-frame textarea {
    padding: 10px 15px;
    background-color: var(--color-background);
    border: 1px solid var(--color-input-border);
    border-radius: 5px;
}

#gestione-dati-frame .gestione-dati-element {
    flex: 1;
}

#pulsante-chiudi-gestione-dati {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    width: 65px;
    height: 40px;
    border-top-right-radius: 1rem;
    cursor: pointer;
}

#pulsante-chiudi-gestione-dati:hover {
    background-color: var(--color-danger);
    color: white;
}

#pulsante-chiudi-gestione-dati span {
    margin: auto;
}

#gestione-dati-titolo {}

.pulsanti-gestione-dati {
    width: 100%;
    display: flex;
    gap: 10px;
}

.pulsanti-gestione-dati button {
    padding: 20px 30px;
    font-size: 20px;
}

.pulsanti-secondari-gestione-dati {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.pulsante-principale-gestione-dati {
    background-color: var(--color-pulsante);
    color: var(--color-accent-text);
}

.pulsante-secondario-gestione-dati {
    background-color: #00000010;
    box-shadow: none;
}

.pulsante-secondario-gestione-dati:hover {
    box-shadow: none;
}

#gestione-dati-sostituzione label {
    position: absolute;
    bottom: 100%;
    left: 0;
    font-size: 18px;
    font-style: italic;
}

#gestione-dati-sostituzione input {
    font-size: 20px;
    margin: 0;
}

#gestione-dati-sostituzione .selezione {
    font-size: 20px;
}

#gestione-dati-sostituzione {
    display: flex;
    flex-direction: column;
}

#gestioni-dati-sostituzione-quando {
    margin: auto 0;
    display: flex;
    flex: 1;
    align-items: center;
    align-content: center;
    gap: 30px;
}

#gestione-dati-sostituzione-data-container {
    position: relative;
}

#gestione-dati-sostituzione-ora-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    gap: 10px;
}

#gestione-dati-sostituzione-ora-container input {
    transition: 0.2s;
}

#gestione-dati-sostituzione-ora-container input.disabled {
    font-size: 15px;
    border-color: transparent;
}

#gestione-dati-sostituzione-ora-container input:hover {
    border-color: initial;
}

#gestione-dati-sostituzione-ora-predefinita {
    flex: 1;
}

#gestione-dati-sostituzione-ora-predefinita input {
    width: 200px;
}


#gestione-dati-sostituzione-ora-personalizzata {
    display: flex;
    align-items: center;
}


#gestione-dati-sostituzione-chi {
    margin: auto 0;
    display: flex;
    flex: 1;
    align-items: center;
}

#gestione-dati-sostituzione-docente {
    position: relative;
}

#gestione-dati-sostituzione-dove {
    margin: auto 0;
    display: flex;
    flex: 1;
    align-items: center;
    align-content: center;
    gap: 10px;
}

#gestione-dati-sostituzione-classe {
    position: relative;
}

#gestione-dati-sostituzione-note {
    flex: 1;
    margin: auto 0;
    display: flex;
    align-items: center;
}

#gestione-dati-sostituzione-note,
#gestione-dati-sostituzione-note .selezione,
#gestione-dati-sostituzione-note input {
    width: 100%;
}

#gestione-dati-notizia,
#gestione-dati-evento {
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
}

#gestione-dati-notizia *,
#gestione-dati-evento * {
    font-size: 25px;
}

#gestione-dati-notizia label,
#gestione-dati-evento label {
    font-size: 20px;
    font-style: italic;
}

.gestione-dati-data {
    display: flex;
}

.gestione-dati-data>div {
    flex: 1;
}

#gestione-dati-notizia-testo-container,
#gestione-dati-evento-testo-container {
    flex: 1;
    margin-top: 2vw;
    min-height: 3em;
}

#gestione-dati-notizia-testo-container textarea,
#gestione-dati-evento-testo-container textarea {
    width: 100%;
    height: 100%;
    resize: none;
    padding: 15px 25px;
}

#gestione-dati-evento-urgente {
    appearance: none;
    width: 60px;
    height: 100%;
    margin: 0 20px;
    display: grid;
    place-content: center;
    border-radius: 1rem !important;
    transition: all 0.1s;
}

#gestione-dati-evento-urgente:checked {
    background-color: #d46520;
    border: none;
}

#gestione-dati-evento-urgente::before {
    content: "priority_high";
    color: var(--color-input-border);
    transition: all 0.1s;
}

#gestione-dati-evento-urgente:checked::before {
    color: white;
    scale: 1.2;
}


@media (max-height: 800px) {
    #gestione-dati-frame {
        width: 90%;
    }
}

@media (max-width: 1000px) {
    #gestione-dati-frame {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    #pulsante-chiudi-gestione-dati {
        border-radius: 0;
    }

    .gestione-dati-data {
        flex-direction: column;
    }
}

@media (max-width: 700px) {
    #gestione-dati-frame {
        padding-top: 100px;
        min-height: 550px;
        max-height: unset;
    }

    #gestione-dati-titolo {
        display: none;
    }

    #gestione-dati-frame input {
        width: 100%;
    }

    #gestioni-dati-sostituzione-quando {
        align-items: normal;
        flex: unset;
    }

    #gestione-dati-sostituzione-ora-container {
        flex-direction: column;
        margin: 0;
        gap: 0;
    }

    #gestione-dati-sostituzione-ora-predefinita {
        flex: unset;
    }
}

@media (max-width: 600px) {
    #pulsante-terziario-sostituzione {
        display: none;
    }

    /* Soltanto se ci sono due o più pulsanti secondari, metti i secondari in alto e il primario in basso */
    .pulsanti-gestione-dati:has(.pulsante-secondario-gestione-dati:nth-child(1)) {
        flex-direction: column;
    }

    .pulsanti-gestione-dati:has(.pulsante-secondario-gestione-dati:nth-child(1)) .pulsanti-secondari-gestione-dati {
        margin: 0;
    }

    .pulsante-secondario-gestione-dati {
        width: 100%;
    }
}

@media (max-width: 500px) {
    #gestione-dati-frame {
        min-height: 700px;
    }

    #gestioni-dati-sostituzione-quando {
        flex-direction: column;
        gap: 30px;
        flex: unset;
    }

    #gestione-dati-sostituzione-ora-container {
        align-items: flex-start;
    }

    #gestione-dati-sostituzione-ora-predefinita,
    #gestione-dati-sostituzione-docente {
        width: 100%;
    }
}