:root {
    --color-header-bg: #C00F19;
}

#header {
    display: flex;
    width: 100%;
    height: 65px;
    background-color: var(--color-header-bg);
    color: white;
    z-index: 100;
}

#header-logo {
    padding: 10px 15px 5px 20px;
    height: 100%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#header-separator {
    height: 60%;
    width: 3px;
    margin: auto 15px;
    border-radius: 2px;
    background-color: white;
}

#header-titolo {
    font-weight: normal;
    margin: auto 10px;
    text-wrap: nowrap;
}

#header-pulsanti {
    align-self: flex-end;
    display: flex;
    height: 100%;
    margin: auto;
    margin-right: 20px;
    user-select: none;
}

#header-pulsanti a {
    display: flex;
    text-decoration: none;
}


#header-pulsanti span {
    color: white;
    font-size: 30px;
    margin: auto;
    padding: 8px;
}


/* fun, todo remove */
#fun {
    position: absolute;
    top: -1000px;
    right: -1000px;
    width: 1000px;
    height: 1000px;
    z-index: 132456;
    background-color: #C00F19;
    border-radius: 100vw;
    transition: all 0.3s;
}