#header {
    display: flex;
    width: 100%;
    height: 65px;
    background-color: var(--color-header-bg);
    color: var(--color-header-fg);
    z-index: 40;
}

#header-logo-link {
    display: contents;
}

#header-logo {
    padding: 10px 15px 5px 20px;
    height: 100%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    /* view-transition-name: logo-header; */
}

#header-separator {
    height: 60%;
    width: 3px;
    margin: auto 15px;
    border-radius: 2px;
    background-color: var(--color-header-fg);
}

#header-titolo {
    font-weight: normal;
    margin: auto 10px;
    text-wrap: nowrap;
}

#header-titolo:not(:has(object)):not(:has(svg)) {
    view-transition-name: header-titolo;
}

/* fix flicker, wait for svg to load */
#header-titolo:has(object) {
    opacity: 0;
}

#header-titolo:has(svg) {
    height: 100%;
}

#header-titolo svg {
    padding: 10px 0 8px 0;
    height: 100%;
    width: min-content;
    fill: var(--color-header-fg);
}

#header-titolo svg #scuolasync_s {
    stroke: var(--color-header-fg) !important;
    stroke-dasharray: 300 !important;
    transition: none;
}

#header-titolo:has(svg):hover #scuolasync_s {
    stroke-dashoffset: 600;
    transition: stroke-dashoffset .5s .3s;
}

#header-pulsanti {
    align-self: flex-end;
    display: flex;
    height: 100%;
    margin: auto;
    margin-right: 20px;
    user-select: none;
}

#header-pulsanti a {
    text-decoration: none;
}

#header-pulsanti button {}

#header-pulsanti .pulsante-header {
    display: flex;
    background-color: inherit;
    border: none;
    cursor: pointer;
    padding: 0;
}


#header-pulsanti span {
    color: var(--color-header-fg);
    font-size: 30px;
    margin: auto;
    padding: 8px;
}

@media (max-width: 600px) {

    #header-titolo,
    #header-separator {
        display: none;
    }
}

::view-transition-old(header-titolo) {
    height: 100%;
    width: initial;
    animation: 0.3s cubic-bezier(.3, 1, 0, 1) fade-out;
}

::view-transition-new(header-titolo) {
    height: 100%;
    width: initial;
    animation: 0.3s cubic-bezier(.2, 1, .4, 1) slide-in-from-right;
}