:root {
    --color-background: #fff8f8;
    --color-sezioni: #C00F19;
    --color-opzioni: #ebebeb;
    --color-footer: #C00F19;
    --color-text-sezione: #fff;
    --color-text-opzione: #fff;
    --color-background-opzione: #fff;
    --color-background-opzione-disabled: #ffffffaa;
    --color-text-opzione: #000;
    --color-text-opzione-disabled: #000000aa;
    --color-checkbox-checked: #07c007;
    --color-separator: #000;
    --border-opzione: 1px solid #b2b2b2;
}

@view-transition {
    navigation: auto;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Gabarito', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

.hidden {
    display: none !important;
}

html,
body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    background-color: var(--color-background);
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-scrollbar-hover);
}

#main-frame {
    flex: 1;
    overflow-y: scroll;
    width: 100%;
}

#main-container {
    width: 1000px;
    min-width: 60%;
    max-width: 100%;
    margin: 50px auto;
    view-transition-name: content;
}

#link-container {
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.link-gestione {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;
    padding: 30px 30px;
    background-color: var(--color-sezioni);
    color: var(--color-text-sezione);
    border-radius: 1rem;
}

.link-gestione .icon {
    font-size: 34px;
}

.link-gestione h2 {
    font-size: 32px;
}

.link-gestione .icon-open-new {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    transition: all 0.2s;
}

.link-gestione:hover .icon-open-new {
    padding: 8px;
}


#sezioni-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.sezione {}

.sezione-header {
    background-color: var(--color-sezioni);
    color: var(--color-text-sezione);
    position: relative;
    width: 100%;
    padding: 15px;
    border-radius: 1rem;
    cursor: pointer;
}

.sezione-header .sezione-titolo {
    font-size: 32px;
}

.sezione-header .sezione-descrizione {
    width: 90%;
}

.sezione-header-icon {
    position: absolute;
    display: flex;
    right: 0;
    top: 0;
    width: 80px;
    height: 100%;
    font-weight: bold;
}

.sezione-header .sezione-header-icon span {
    margin: auto;
    font-size: 33px;
    text-align: center;
    transition: scale 0.1s, rotate 0.2s;
    user-select: none;
}

.sezione-header.expanded .sezione-header-icon span {
    rotate: 45deg;
}

.sezione-header:hover .sezione-header-icon span {
    scale: 1.3;
}

.opzioni-expandible {
    margin: auto;
    width: 900px;
    min-width: 95%;
    max-width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s;
}

.opzioni-container {
    height: 100%;
    background-color: var(--color-opzioni);
    margin: 10px 0;
    padding: 15px;
    border-radius: 1rem;
}

.opzioni-lista {
    display: flex;
    flex-direction: column;
    gap: 25px
}


.opzione-titolo {
    font-size: x-large;
    margin-bottom: 5px;
}

.opzione-descrizione {
    margin-bottom: 15px;
}

.opzioni-separator {
    margin: auto;
    width: 90%;
    height: 2px;
    background-color: var(--color-separator);
}

.opzioni-separator:last-child {
    display: none;
}

.pulsante {
    display: flex;
    gap: 5px;
    align-items: center;
    width: fit-content;
    margin: auto;
    padding: 15px 30px;
    background-color: var(--color-background-opzione);
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 5px var(--color-shadow);
    font-size: large;
    cursor: pointer;
    user-select: none;
    transition: all 0.15s;
}

.pulsante:not(:disabled):hover {
    box-shadow: 0 5px 10px #000000aa;
}

.pulsante:not(:disabled):active {
    scale: 0.95;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    color: var(--color-text-opzione);
    background-color: var(--color-background-opzione);
    border: var(--border-opzione);
    border-radius: 5px;
    font-size: medium;
}

input[type="text"]:disabled,
input[type="number"]:disabled,
select:disabled {
    opacity: 0.8;
    color: var(--color-text-opzione-disabled);
    background-color: var(--color-background-opzione-disabled);
}

input[type="number"] {
    width: 150px;
}

select {
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}

select:disabled {
    cursor: default;
}

input[type="checkbox"] {
    appearance: none;
    position: relative;
    margin-left: 10px;
    width: 32px;
    height: 32px;
    color: var(--color-text-opzione);
    background-color: var(--color-background-opzione);
    border: var(--border-opzione);
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.15s;
}

input[type="checkbox"]::before {
    position: absolute;
    content: '';
    display: block;
    top: 4px;
    left: 10px;
    width: 8px;
    height: 14px;
    border-width: 0 3px 3px 0;
    border-style: solid;
    border-color: var(--color-background-opzione);
    transform: rotate(45deg);
    opacity: 0;
}

input[type="checkbox"]:checked {
    color: var(--color-background-opzione);
    border-color: var(--color-checkbox-checked);
    background-color: var(--color-checkbox-checked);
}

input[type="checkbox"]:checked::before {
    opacity: 1;
}

input[type="file"] {
    display: none;
}

/* input[type="file"]+label {
    padding: 15px;
    margin-left: 15px;
    color: var(--color-text-opzione);
    background-color: var(--color-background-opzione);
    border: var(--border-opzione);
    border-radius: 5px;
    font-size: 25px;
    cursor: pointer;
    box-shadow: none;
} */

/* input[type="file"]+label:hover {
    background-color: #ececec;
    box-shadow: none !important;
} */

/* #import-docenti-selected-file-label {
    margin: auto 10px;
} */


/* SELEZIONE */
.container-selezione {
    position: relative;
}

.container-selezione::after {
    position: absolute;
    content: "";
    right: 1rem;
    pointer-events: none;
}


.container-selezione::after {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid var(--color-text-opzione);
    top: 45%;
}

.container-selezione:has(:disabled)::after {
    opacity: 0.5;
}

.opzione-testo {}

.opzione-numero {}

.opzione-selezione {
    width: 300px;
}

.opzione-numero-unita,
.opzione-percorso,
.opzione-file {
    display: flex;
    gap: 10px;
}

.opzione-file-dropzone {
    width: 100%;
    height: 150px;
    padding: 20px;
    color: #00000099;
    background-color: var(--color-opzioni);
    border: var(--border-opzione);
    border-style: dashed;
    border-width: 2px;
    border-radius: 5px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.opzione-file-dropzone:has(.fileselected) {
    display: none;
}

.opzione-file-dropzone label {
    padding: 20px;
    cursor: pointer;
}

.opzione-file-dropzone label:hover {
    text-decoration: underline;
}

.opzione-file-dropzone.filehover {
    background-color: #00000015;
    border-color: #00000062;
    box-shadow: 0 0 10px #00000043;
}

.opzione-file-dropzone.filehover label {
    pointer-events: none;
}

.import-selected-file-container {
    display: none;
    gap: 20px
}

.opzione-file:has(.fileselected) .import-selected-file-container {
    display: flex;
}

.import-selected-file {
    height: fit-content;
    padding: 5px 0 5px 15px;
    border: var(--border-opzione);
    border-radius: 10px;
}

.import-selected-file-name {
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 10px;
    background-color: var(--color-gestionedati-modificato);
}

.import-file-pulsante {
    padding: 0 5px;
    margin: 0 5px;
    background: transparent;
    border: var(--border-opzione);
    border-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s;
}

.import-file-pulsante:hover {
    border-color: #0000002d;
}

.import-file-pulsante-x {
    color: var(--color-error);
}

.import-file-pulsante-v {
    color: var(--color-success);
}

.import-file-pulsante .icon {
    line-height: normal;
}


/* Selezione unità del numero */
.opzione-numero-unita .container-selezione {
    min-width: 100px;
}

.opzione-numero-unita .container-selezione select {
    padding-right: 50px;
}

.opzione-percorso .container-selezione {
    width: 150px;
}

.opzione-file .pulsante {
    margin: auto 10px;
}

#footer {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: var(--color-footer);
    z-index: 100;
    view-transition-name: footer;
}

#link-aggiorna-riavvio {
    display: flex;
    margin: auto 10px auto 30px;
    font-size: large;
    border-radius: 1rem;
    text-decoration: none;
}

#link-aggiorna,
#link-riavvio {
    border: 2px solid #ffffff80;
    color: white;
    padding: 15px;
    transition: all 0.2s;
}

#link-aggiorna:hover,
#link-riavvio:hover {
    background-color: #ffffff27;
}

#link-aggiorna {
    border-right: none;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

#link-riavvio {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}


.pulsante-footer {
    padding: 15px 30px;
    background-color: #ffffff;
    font-size: larger;
    font-weight: bold;
    transition: all 0.1s;
}

.pulsante-footer:disabled {
    background-color: #ffffff68;
    color: #00000066;
    box-shadow: none;
}

#pulsante-applica {
    margin-right: 30px;
}

#header-shadow {
    position: absolute;
    width: 100%;
    height: 65px;
    border-radius: 100%;
    box-shadow: 0px 5px 15px #00000088;
    z-index: 90;
}

#footer-shadow {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    border-radius: 100%;
    box-shadow: 0px -5px 15px #00000088;
    z-index: 90;
    view-transition-name: footer-shadow;
}

@media (max-width: 600px) {
    #main-container {
        margin-top: 30px;
    }

    #link-container {
        margin-top: 30px;
        padding: 0 20px;
    }

    .link-gestione {
        padding: 30px 10px;
        flex-direction: column;
        border-radius: 2rem;
    }

    .link-gestione h2 {
        font-size: 20px;
        text-align: center;
    }

    .link-gestione .icon {
        font-size: 40px;
    }

    .link-gestione .icon-open-new {
        display: none;
    }
}

::view-transition-old(content) {
    height: initial;
    width: initial;
    animation: 0.3s cubic-bezier(.2, 1, .4, 1) slide-out-to-right;
}

::view-transition-new(content) {
    height: initial;
    width: initial;
    animation: 0.3s cubic-bezier(.2, 1, .4, 1) slide-in-from-left;
}

::view-transition-old(footer) {
    animation: 0.3s cubic-bezier(.2, 1, .4, 1) slide-down;
}

::view-transition-new(footer) {
    animation: 0.3s cubic-bezier(.2, 1, .4, 1) slide-up;
}

::view-transition-old(footer-shadow) {
    animation: 0.3s cubic-bezier(.2, 1, .4, 1) slide-down;
}

::view-transition-new(footer-shadow) {
    animation: 0.3s cubic-bezier(.2, 1, .4, 1) slide-up;
}