* {
    font-family: 'Gabarito', 'Segoe UI', Helvetica, Verdana, Tahoma, Geneva, Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    min-height: 0;
    -webkit-tap-highlight-color: transparent;
}

@view-transition {
    navigation: auto;
    types: slide, backwards;
}

.hidden {
    display: none !important;
}

:-moz-placeholder,
::-moz-placeholder {
    opacity: 1;
}

html,
body {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
}

body {
    width: 100%;
    height: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.notizia a,
.evento a,
#sostituzioni-info-container a {
    color: var(--color-link);
    text-decoration: none;
    background-image: linear-gradient(to right, var(--color-link), var(--color-link));
    background-size: 0 2px;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    transition: background-size 0.3s;
    cursor: pointer;
}

.notizia a:hover,
.evento a:hover,
#sostituzioni-info-container a:hover {
    background-size: 100% 2px;
    background-position: 0 100%;
}

.checkbox {
    appearance: none;
    position: relative;
    width: 20px;
    height: 20px;
    color: var(--color-element-border);
    background-color: inherit;
    border: 1px solid var(--color-element-border);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.15s;
}

.checkbox::before {
    position: absolute;
    content: '';
    display: block;
    top: 3px;
    left: 6px;
    width: 4px;
    height: 7px;
    border-width: 0 3px 3px 0;
    border-style: solid;
    border-color: var(--color-background-opzione);
    transform: rotate(45deg);
    opacity: 0;
}

.checkbox:checked {
    color: var(--color-accent-text) !important;
    border-color: var(--color-pulsante) !important;
    background-color: var(--color-pulsante) !important;
}

.checkbox:checked::before {
    opacity: 1;
}

input[type='radio'] {
    accent-color: var(--color-accent);
}

/* calendar icon */
input[type="date"] {
    position: relative;
    padding: 10px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: transparent;
    background: none;
    z-index: 1;
}

input[type="date"]::before {
    font-family: 'Material Symbols Rounded';
    content: 'calendar_today';
    color: inherit;
    font-size: inherit;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    padding: 5px;
}

option:disabled {
    display: none;
}

/* SCROLLBAR */
/* * {
    scrollbar-width: 8px;
    scrollbar-color: var(--color-scrollbar) transparent;
} */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-scrollbar-hover);
}

/* ICONS */
.material-symbols-rounded {
    user-select: none;
    padding: 5px;
}

/* MAIN GRID  */
#main-window {
    height: calc(100% - 65px);
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 100%;
}

#main-container {
    background-color: var(--color-background);
    width: 100%;
    height: 100%;
    max-height: 100%;
    padding: 0.5vw;
    display: grid;
    /* usare percentuali esatte invece che 1fr per rendere statico il layout e far funzionare gli scroll */
    grid-template-columns: 20% 80%;
    grid-template-rows: 50% 50%;
}

#main-container:has(#notizie-lista:empty) {
    grid-template-rows: 75% 25%;
}

.frame {
    /* border: 2px solid; */
    border-radius: 1rem;
    margin: 0.3vw;
}

#eventi-frame {
    grid-area: 1/1/2/2;
    background-color: var(--color-eventi-bg);
}

#notizie-frame {
    grid-area: 2/1/3/2;
    background-color: var(--color-notizie-bg);
}

#sostituzioni-frame {
    grid-area: 1/2/3/3;
    background-color: var(--color-sostituzioni-bg);
    display: flex;
    flex-direction: column;
}


/* HEADER SOSTITUZIONI */
#header-sostituzioni {
    display: flex;
    height: 80px;
    min-height: 80px;
}

#header-sostituzioni-titolo {
    font-size: 35px;
    margin: auto 30px;
}

#pulsanti-header-sostituzioni {
    display: flex;
    margin: auto;
    margin-right: 20px;
    gap: 5px;
}

#pulsanti-header-sostituzioni .pulsante-header-sostituzioni span {
    font-size: 30px;
}

#pulsante-refresh-sostituzioni {
    animation: refresh-sostituzioni-animation 0.3s ease-out;
}

@keyframes refresh-sostituzioni-animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-180deg);
    }
}

#container-esporta-sostituzioni {
    position: relative;
}

#popup-esporta-sostituzioni {
    display: none;
    opacity: 0;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 100%;
    width: 350px;
    height: 450px;
    padding: 1rem;
    translate: 0 -10px;
    z-index: 50;
    background-color: var(--color-background);
    border-radius: 1rem;
    box-shadow: 0 3px 15px var(--color-shadow), 0 2px 5px var(--color-shadow);
    transition: all 0.2s allow-discrete;
}

#popup-esporta-sostituzioni.open {
    display: flex;
    opacity: 1;
    translate: 0 0;
}

@starting-style {
    #popup-esporta-sostituzioni.open {
        display: flex;
        translate: 0 -10px;
        opacity: 0;
    }
}

#popup-esporta-sostituzioni:focus-visible {
    outline: none;
}

#popup-esporta-sostituzioni::after {
    content: "";
    position: absolute;
    top: -5px;
    right: 15px;
    width: 10px;
    height: 10px;
    rotate: 45deg;
    background-color: var(--color-background);
}

@media (max-width: 600px) {
    #popup-esporta-sostituzioni.visible {
        position: fixed;
        top: 20%;
        left: 0;
        width: 100%;
        height: 80%;
    }

    #popup-esporta-sostituzioni::after {
        display: none;
    }
}

#popup-esporta-sostituzioni * {
    font-size: 20px;
    background-color: var(--color-background);
}

#popup-esporta-sostituzioni>div:not(:last-child):not(:first-child) {
    margin: 10px 0;
}

#popup-esporta-sostituzioni> :nth-last-child(2) {
    flex: 1;
}

#popup-esporta-sostituzioni h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

#popup-esporta-sostituzioni input,
#popup-esporta-sostituzioni select {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #00000070;
}

#popup-esporta-sostituzioni select {
    /* margin-left: 50px; */
    margin-bottom: 10px;
}

#popup-esporta-sostituzioni input[type="radio"] {
    margin: 10px 20px;
    width: 20px;
    height: 20px;
}

#filtro-quando-esporta-sostituzioni>div {
    transition: opacity 0.15s;
}

#filtro-quando-esporta-sostituzioni>div:not(:has(input[type="radio"]:checked)) {
    opacity: 0.5;
}

#filtro-quando-esporta-sostituzioni label {
    display: inline-block;
    width: 60px;
}

#container-filtro-mese-esporta-sostituzioni {
    display: flex;
}

#container-filtro-data-esporta-sostituzioni {
    display: flex;
    align-items: center;
}

#filtro-opzioni-esporta-sostituzioni>div {
    display: flex;
    align-items: center;
    gap: 10px;
}

#pulsante-scarica-esporta-sostituzioni {
    display: flex;
    width: 100%;
    padding: 20px 20px;
    align-items: center;
    justify-content: center;
    background-color: var(--color-pulsante);
    color: var(--color-accent-text);
}

#pulsante-scarica-esporta-sostituzioni .icon {
    background-color: var(--color-pulsante);
    font-size: 30px;
}

.pulsante {
    border: none;
    border-radius: 1rem;
    box-shadow: 0 1px 3px var(--color-shadow), 0 1px 2px var(--color-shadow);
    transition: translate 0.2s, box-shadow 0.2s, scale 0.1s;
    user-select: none;
    cursor: pointer;
}

.pulsante:hover {
    translate: 0 -1px;
    box-shadow: 0 5px 10px var(--color-shadow), 0 5px 5px var(--color-shadow);
}

.pulsante:active {
    scale: 0.95;
}

.pulsante-inserimento {
    background-color: var(--color-pulsante-nuovo);
    color: var(--color-accent-text);
}

#pulsante-nuova-sostituzione {
    display: flex;
    padding: 10px 10px;
    margin: auto 30px auto 10px;
}

#pulsante-nuova-sostituzione span.text {
    margin: auto 10px auto 0;
    font-size: 25px;
}

#pulsante-nuova-sostituzione span.icon {
    font-size: 30px;
}

#sostituzioni-main {
    position: relative;
    flex: 1;
    overflow-x: auto;
    height: calc(100% - 80px);
    padding: 0 0.5vw 1.5em 0.5vw;
}

#sostituzioni-container {
    min-width: 900px;
    height: 100%;
    /* questo min-width è stato messo per mantenere spazio per la lettura chiara dei dati, */
}

/* FILTRI SOSTITUZIONI */
#sostituzioni-filtri-container {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    height: 50px;
    width: 100%;
    background-color: var(--color-sostituzioni-filtri-bg);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#sostituzioni-filtri-container>div {
    height: 100%;
}

/* larghezza dei riquadri dei filtri, da matchare con i riquadri delle sostituzioni */
#sostituzioni-filtro-data,
#sostituzioni-lista .sostituzione-data {
    width: 7rem;
}

#sostituzioni-filtro-ora,
#sostituzioni-lista .sostituzione-ora {
    width: 9rem;
}

#sostituzioni-filtro-classe,
#sostituzioni-lista .sostituzione-classe {
    width: 9rem;
}

#sostituzioni-filtro-aula,
#sostituzioni-lista .sostituzione-aula {
    width: 9rem;
}

#sostituzioni-filtro-docente,
#sostituzioni-lista .sostituzione-docente {
    width: 15rem;
}

#sostituzioni-filtro-note,
#sostituzioni-lista .sostituzione-note {
    flex: 1;
}

/* impostare la larghezza del filtro data in base alla larghezza della prima colonna */
#sostituzioni-filtro-data-expandible {
    /* larghezza prima colonna - pulsanti di ordinamento (40px) */
    left: calc(7rem - 40px);
    /* intera larghezza - larghezza prima colonna */
    width: calc(100% - 7rem);
}

/* FILTRI */
#sostituzioni-filtro-data {
    position: relative;
    height: 100%;
    display: flex;
}

#sostituzioni-filtro-data-pulsante {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: var(--color-sostituzioni-filtri-placeholder);
    border: none;
    padding-left: 10px;
    font-size: 16px;
}

#sostituzioni-filtro-data-pulsante .icon {
    transition: all 0.3s;
}

#sostituzioni-filtro-data-pulsante:hover .icon {
    translate: 2px 0;
}

#sostituzioni-filtri-container:has(#sostituzioni-filtro-data-expandible.active) #sostituzioni-filtro-data-pulsante .icon {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

#sostituzioni-filtro-data-expandible {
    position: absolute;
    display: flex;
    top: 0;
    padding: 0 10px;
    gap: 10px;
    background-color: var(--color-sostituzioni-filtri-bg);
    color: var(--color-sostituzioni-filtri-placeholder);
    border-radius: 1rem;
    z-index: 10;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all .2s;
}

#sostituzioni-filtro-data-expandible.active {
    opacity: 1;
    pointer-events: all;
}

.sostituzioni-filtro-data-opzione {
    margin: 8px 0;
    padding: 0 15px;
    min-width: 110px;
    background-color: inherit;
    border: solid 1px var(--color-sostituzioni-filtri-placeholder);
    color: var(--color-sostituzioni-filtri-placeholder);
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    margin-left: -50px;
    opacity: 0;
    transition: all .2s;
    cursor: pointer;
}

.sostituzioni-filtro-data-opzione:hover {
    background-color: #ffffff1a;
    transition-delay: 0s !important;
}

select.sostituzioni-filtro-data-opzione:focus {
    background-color: inherit;
    color: inherit;
}

.sostituzioni-filtro-data-opzione.selected {
    background-color: var(--color-sostituzioni-filtri-placeholder);
    color: var(--color-accent);
    font-weight: bold;
}

#sostituzioni-filtro-data-expandible.active .sostituzioni-filtro-data-opzione {
    margin-left: 0;
    opacity: 1;
}

.sostituzioni-filtro-data-opzione:nth-child(1) {
    transition-delay: 0;
    z-index: 6;
}

.sostituzioni-filtro-data-opzione:nth-child(2) {
    transition-delay: 0.04s;
    z-index: 5;
}

.sostituzioni-filtro-data-opzione:nth-child(3) {
    transition-delay: 0.08s;
    z-index: 4;
}

.sostituzioni-filtro-data-opzione:nth-child(4) {
    transition-delay: 0.11s;
    z-index: 3;
}

.sostituzioni-filtro-data-opzione:nth-child(5) {
    transition-delay: 0.13s;
    z-index: 2;
}

.sostituzioni-filtro-data-opzione:nth-child(6) {
    transition-delay: 0.15s;
    z-index: 1;
}

input[type="date"].sostituzioni-filtro-data-opzione::before {
    padding-top: 3px;
}

/* SINGOLO FILTRO */
#sostituzioni-filtri-container .sostituzioni-filtri-ricerca {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

#sostituzioni-filtri-container .sostituzioni-filtri-ricerca input {
    height: 100%;
    width: calc(100% - 20px);
    padding: 10px 10px;
    outline: none;
    border: none;
    background-color: inherit;
    color: var(--color-sostituzioni-filtri-fg);
    font-size: 16px;
    font-weight: bold;
}

#sostituzioni-filtri-container .sostituzioni-filtri-ricerca input::placeholder {
    color: var(--color-sostituzioni-filtri-placeholder);
    font-weight: normal;
}

/* INDICATORE ORDINAMENTO */
#sostituzioni-filtri-container .sostituzioni-ordinamento {
    height: 100%;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

/* Frecce di ordinamento */
#sostituzioni-filtri-container .sostituzioni-ordinamento>div {
    width: 0;
    height: 0;
    border: 6px solid transparent;
    transition: all 0.1s;
}

#sostituzioni-filtri-container .sostituzioni-ordinamento .sostituzioni-ordinamento-arrowup {
    border-bottom-color: var(--color-sostituzioni-filtri-placeholder);
}

#sostituzioni-filtri-container .sostituzioni-ordinamento .sostituzioni-ordinamento-arrowdown {
    border-top-color: var(--color-sostituzioni-filtri-placeholder);
}

#sostituzioni-filtri-container .sostituzioni-ordinamento:has(.selected)>div {
    opacity: 0.5;
}

#sostituzioni-filtri-container .sostituzioni-ordinamento>div.selected {
    opacity: 1;
}

#sostituzioni-filtri-container .sostituzioni-ordinamento .sostituzioni-ordinamento-arrowup.selected {
    border-bottom-color: var(--color-sostituzioni-filtri-fg);
}

#sostituzioni-filtri-container .sostituzioni-ordinamento .sostituzioni-ordinamento-arrowdown.selected {
    border-top-color: var(--color-sostituzioni-filtri-fg);
}

/* DROPDOWN SUGGERIMENTI */
#sostituzioni-filtri-container .selezione-dropdown {
    /* altezza div filtri*/
    translate: 0 50px;
}

/* SOSTITUZIONI */
#sostituzioni-lista-container {
    overflow-y: auto;
    height: calc(100% - 50px);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

#sostituzioni-messaggio-informativo {
    display: flex;
    width: 100%;
    height: 100%;
}

#sostituzioni-messaggio-informativo span {
    margin: auto;
    font-size: 20px;
    color: #00000070;
}


/* LISTA SOSTITUZIONI */
#sostituzioni-lista li {
    position: relative;
    width: 100%;
}

/* SINGOLA SOSTITUZIONE */
#sostituzioni-lista .sostituzione {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 100%;
    min-height: 2.5rem;
    max-height: 4rem;
    background-color: var(--color-sostituzioni-lista2);
    border-radius: 0;
    overflow: hidden;
}

/* colori alternati */
#sostituzioni-lista :nth-child(odd).sostituzione {
    background-color: var(--color-sostituzioni-lista1);
}

#sostituzioni-lista .sostituzione:hover,
#sostituzioni-lista .sostituzione:focus-visible,
#sostituzioni-lista .sostituzione.context-menu-active {
    background-color: #dbdbdb;
}

#sostituzioni-lista .sostituzione .dato-sostituzione {
    display: flex;
    overflow: auto;
    border-right: 1px solid var(--color-sostituzioni-lista1);
}

#sostituzioni-lista :nth-child(odd).sostituzione .dato-sostituzione {
    border-right: 1px solid var(--color-sostituzioni-lista2);
}

#sostituzioni-lista .sostituzione .dato-sostituzione span {
    margin: auto;
    margin-left: 10px;
}

/* Arrotondamento bordo dell'ultima sostituzione */
#sostituzioni-lista .sostituzione:last-of-type {
    /* #sostituzioni-lista .sostituzione:last-of-type .dato-sostituzione:first-child { */
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

/* Rimuove bordo alla destra delle note */
#sostituzioni-lista .sostituzione-note {
    border-right: none !important;
}

#sostituzioni-lista .sostituzione .sostituzione-icon {
    border-right: none !important;
}

#sostituzioni-lista .sostituzione .sostituzione-icon:has(.icon) {
    padding-right: 10px;
}

#sostituzioni-lista .sostituzione .icon {
    margin: auto 3px !important;
}

#sostituzioni-lista .sostituzione.non-pubblicato {
    color: #00000099;
    font-style: italic;
    font-size: 16px;
}

#sostituzioni-lista .sostituzione.incompleta .dato-sostituzione,
#sostituzioni-lista .sostituzione.incompleta .sostituzione-icon {
    background-color: var(--color-sostituzioni-incompleta);
    border-right: 1px solid var(--color-sostituzioni-incompleta);
}

#sostituzioni-lista .sostituzione.sovrapposizioni .dato-sostituzione,
#sostituzioni-lista .sostituzione.sovrapposizioni .sostituzione-icon {
    background-color: var(--color-sostituzioni-sovrapposizioni);
    border-right: 1px solid var(--color-sostituzioni-sovrapposizioni);
}

#sostituzioni-info-container {
    position: absolute;
    bottom: 3px;
    right: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #757575;
}

#sostituzioni-info-container .sostituzioni-info:has(.sostituzioni-info-numero:empty) {
    display: none;
}

#sostituzioni-info-container .sostituzioni-info:not(:first-child)::before {
    content: "·";
    margin: 0 12px;
}

#sostituzioni-info-container a {
    color: inherit;
}

/* HEADER EVENTI */
#header-eventi {
    display: flex;
    height: 70px;
}

#header-eventi-titolo {
    margin: auto 25px;
}

#header-eventi-pulsanti {
    margin: auto;
    margin-right: 20px;
    display: flex;
    gap: 10px;
}

#header-eventi-pulsanti div {
    margin: auto;
}

#pulsante-nuovo-evento {
    padding: 5px;
    border-radius: 10px;
}

/* LISTA EVENTI */
#eventi-container {
    height: calc(100% - 70px);
    margin: 0 10px;
    overflow: auto;
}

.evento {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    padding: 10px 15px;
    gap: 10px;
    background-color: var(--color-evento-bg);
    border-radius: 1rem;
}

.evento.urgente {
    padding: 15px 15px;
    background-color: var(--color-evento-urgente);
    border-radius: 0.5rem;
}

@keyframes placeholder-animation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.evento.placeholder {
    height: 70px;
    animation: placeholder-animation 1s ease-in-out infinite;
}

.evento-data {
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: #535353;
}

.evento-data .separator {
    width: 20px;
    text-align: center;
}

.evento-testo {
    flex: 1
}

/* HEADER NOTIZIE */
#header-notizie {
    display: flex;
    height: 70px;
}

#header-notizie-titolo {
    margin: auto 25px;
}

#pulsante-nuova-notizia {
    margin: auto;
    margin-right: 20px;
    padding: 5px;
    border-radius: 10px;
}

/* LISTA NOTIZIE */
#notizie-container {
    height: calc(100% - 70px);
    padding: 0 10px;
    overflow: auto;
}

#notizie-messaggio-informativo {
    display: flex;
    width: 100%;
    height: 80%;
}

#notizie-messaggio-informativo span {
    margin: auto;
    font-size: 16px;
    color: #00000070;
}

#notizie-lista-container {}

.notizia {
    margin: 5px 0;
    padding: 10px 15px;
    background-color: var(--color-notizia-bg);
    border-radius: 1rem;
}

.notizia.futura {
    color: #00000099;
    font-style: italic;
}

/* POPUP GESTIONE NOTIFICHE */
#container-notifiche {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 64px;
    width: 450px;
    height: calc(100% - 64px);
    padding: 1rem;
    background-color: var(--color-header-bg);
    color: var(--color-header-fg);
    border: none;
    transform: translateX(100%);
    transition: all 0.2s allow-discrete;
    padding-left: 50px;
    mask: radial-gradient(circle at 0 31px, transparent 30px, black 30px);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 30px 100%, 30px 30px);
    z-index: 50;
}

#container-notifiche.open {
    display: flex;
    transform: translateX(0);
}

@starting-style {
    #container-notifiche.open {
        display: flex;
        transform: translateX(100%);
    }
}

#notifiche-lista-container {
    flex: 1;
    position: relative;
    display: flex;
}

#notifiche-lista-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80%;
    height: 1px;
    margin: 0 10%;
    background-color: var(--color-header-fg);
    opacity: .2;
}

#errore-notifiche {
    margin: auto;
    opacity: 0.5;
}

#pulsante-gestione-notifiche {
    background-color: white;
    font-size: 18px;
    padding: 20px 0;
    margin: 20px 30px;
}

/* CONTEXT MENU */
#context-menu {
    position: absolute;
    user-select: none;
    color: var(--color-selezione-fg);
    background-color: var(--color-selezione-bg);
    box-shadow: 0 1px 3px var(--color-shadow), 0 4px 10px var(--color-shadow);
    border-radius: 10px;
    font-size: 18px;
}

#context-menu:focus {
    outline: none;
}


#context-menu .pulsante-context-menu {
    display: flex;
    width: 100%;
    padding: 10px 25px 10px 15px;
    font-size: 18px;
    background-color: inherit;
    border-radius: 10px;
    border: none;
}

#context-menu .pulsante-context-menu:hover {
    background-color: var(--color-selezione-hover-bg);
}

#context-menu .pulsante-context-menu:last-child:hover {
    color: var(--color-selezione-hover-delete-fg);
    background-color: var(--color-selezione-hover-delete-bg);
}

#context-menu .pulsante-context-menu span:last-child {
    margin: auto;
    margin-left: 10px;
}

#dialog-conferma-elimina {
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* min-width messa per poter calcolare in js la grandezza e non far rimpicciolire il dialog al lato dello schermo */
    min-width: 310px;
}

#dialog-conferma-elimina-titolo-container {
    display: flex;
    margin-bottom: 15px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#dialog-conferma-elimina-storico-container {
    flex: 1;
    margin: 15px;
    display: flex;
    gap: 10px
}

#dialog-conferma-elimina-pulsanti {
    margin: auto;
}

#dialog-conferma-elimina-pulsanti button {
    margin: 5px;
    border-radius: 5px;
    border: 1px solid var(--color-element-border);
    padding: 15px 30px;
    font-size: 15px;
    background-color: var(--color-selezione-bg);
    box-shadow: none;
    transition: all 0.1s;
}

#dialog-conferma-elimina-per-reale:hover {
    border-color: var(--color-selezione-hover-delete-bg);
    background-color: var(--color-selezione-hover-delete-bg);
    color: var(--color-selezione-hover-delete-fg);
}

/* MOBILE */
@media (max-width: 1000px) {
    #main-window {
        overflow: auto;
    }

    #main-container {
        padding: 0;
        grid-template-columns: 1fr;
        grid-template-rows: 90% 50% 50% !important;
    }

    #eventi-frame {
        grid-area: 2/1/3/2;
    }

    #notizie-frame {
        grid-area: 3/1/4/2;
    }

    #sostituzioni-frame {
        grid-area: 1/1/2/2;
    }

    .frame {
        overflow-x: hidden;
        margin: 0;
        border-radius: 0;
    }

    #sostituzioni-info-container {
        display: none;
    }
}

/* Nascondi titolo sostituzioni solo se l'utente è amministratore o editor */
@media (max-width: 550px) {
    :has(#pulsante-nuova-sostituzione) #header-sostituzioni-titolo {
        display: none;
    }

    :has(#pulsante-nuova-sostituzione) #pulsanti-header-sostituzioni {
        margin-left: 30px;
        margin-right: auto;
    }
}

::view-transition-old(content) {
    height: initial;
    width: initial;
    animation: 0.3s cubic-bezier(.2, 1, .4, 1) slide-out-to-left;
}

::view-transition-old(footer) {
    height: initial;
    width: initial;
    animation: 0.3s cubic-bezier(.2, 1, .4, 1) slide-down;
}

::view-transition-old(footer-shadow) {
    height: initial;
    width: initial;
    animation: 0.3s cubic-bezier(.2, 1, .4, 1) slide-down;
}