:root {
    --color-background: #F3F6F8;
    --color-scrollbar-bg: #F3F6F8;
    --color-scrollbar-fg: #90A4AE;
    --color-sostituzioni-lista1: #ffffff55;
    --color-sostituzioni-lista2: #ffffff77;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --color-background: #000000
    }

} */

* {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    min-height: 500px;
    width: 100%;
    height: 100%;
    font-family: 'Gabarito', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* SCROLLBAR */
body {
    scrollbar-width: thin;
    scrollbar-color: var(--color-scrollbar-fg) var(--color-scrollbar-bg);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--color-scrollbar-bg);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar-fg);
    border-radius: 5px;
    border: 2px solid var(--color-scrollbar-bg);
}

/* HEADER */
#header {
    display: flex;
    width: 100%;
    height: 4rem;
    background-color: #C00F19;
    color: white;
}

#header-logo {
    padding: 5px 20px;
    height: 100%;
}

#header-separator {
    height: 60%;
    width: 3px;
    margin: auto 15px;
    border-radius: 2px;
    background-color: white;
}

#header-titolo {
    font-weight: normal;
    margin: auto 10px;
}

#header-pulsantitest {
    align-self: flex-end;
    margin: auto;
    margin-right: 10px;
}

#main-window {
    flex: 1;
}

/* MAIN GRID  */
#main-container {
    background-color: var(--color-background);
    width: 100%;
    height: 100%;
    padding: 1vw;
    display: grid;
    grid-template-columns: 20% 1fr;
    /* proporzione header - resto */
    grid-template-rows: 1fr 1fr;
    gap: 0.5vw;
}


#eventi-frame {
    grid-area: 1/1/2/2;
    background-color: #ffa7ac;
}

#notizie-frame {
    grid-area: 2/1/3/2;
    background-color: #ffa7ac;
}

#sostituzioni-frame {
    grid-area: 1/2/3/3;
    background-color: #ff9499;
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr;
    /* proporzione filtri - sostituzioni */
    grid-template-rows: 80px 50px 1fr;
}

@media (max-width: 900px) {
    #main-container {
        grid-template-columns: 1fr;
        grid-template-rows: 90% 50% 50%;
    }

    #eventi-frame {
        grid-area: 2/1/3/2;
    }

    #notizie-frame {
        grid-area: 3/1/4/2;
    }

    #sostituzioni-frame {
        grid-area: 1/1/2/2;
    }
}

.frame {
    /* border: 2px solid; */
    border-radius: 1rem;
}

/* HEADER SOSTITUZIONI */
#header-sostituzioni {
    display: flex;
}

#header-sostituzioni-titolo {
    font-size: 35px;
    margin: auto 30px;
}

#pulsante-nuova-sostituzione {
    display: flex;
    padding: 5px 12px;
    margin: auto;
    margin-right: 30px;
    background-color: #C00F19;
    color: white;
    border-radius: 1rem;
    box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d;
    transition: box-shadow 0.2s, scale 0.1s;
    user-select: none;
}

#pulsante-nuova-sostituzione:hover {
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}


#pulsante-nuova-sostituzione:active {
    scale: 0.95;
}

#pulsante-nuova-sostituzione span {
    margin: auto 2px;
    font-size: 25px;
}

#pulsante-nuova-sostituzione span.icon {
    font-size: 35px;
}


/* FILTRI SOSTITUZIONI */
#sostituzioni-filtri-container {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    width: calc(100% - 0.5vw);
    margin-left: 0.5vw;
    background-color: #C00F19;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#sostituzioni-filtri-container div {
    height: 100%;
}

/* larghezza dei riquadri dei filtri, da matchare con i riquadri delle sostituzioni */
#sostituzioni-filtro-data {
    width: 8rem;
}

#sostituzioni-filtro-ora {
    width: 8rem;
}

#sostituzioni-filtro-aula {
    width: 8rem;
}

#sostituzioni-filtro-classe {
    width: 8rem;
}

#sostituzioni-filtro-docente {
    width: 15rem;
}

#sostituzioni-filtro-note {
    flex: 1;
}

/* SINGOLO FILTRO */
#sostituzioni-filtri-container .sostituzioni-filtri-ricerca {
    display: flex;
    /* position: relative; */
    width: 100%;
    height: 100%;
    /* box-shadow: 0 2px 10px 0px #00000040; */
    border-radius: 0.5rem;
}

#sostituzioni-filtri-container .sostituzioni-filtri-ricerca input {
    height: 100%;
    width: calc(100% - 20px);
    padding: 10px 10px;
    outline: none;
    border: none;
    background-color: inherit;
    color: white;
}

#sostituzioni-filtri-container .sostituzioni-filtri-ricerca input::placeholder {
    color: #ffffffaa;
}

/* INDICATORE ORDINAMENTO */
#sostituzioni-filtri-container .sostituzioni-ordinamento {
    height: 100%;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

#sostituzioni-filtri-container .sostituzioni-ordinamento .sostituzioni-ordinamento-arrowup {
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-color: #ffffff88;
}

#sostituzioni-filtri-container .sostituzioni-ordinamento .sostituzioni-ordinamento-arrowdown {
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top-color: #ffffff88;
}

#sostituzioni-filtri-container .sostituzioni-ordinamento .sostituzioni-ordinamento-arrowup.selected {
    border-bottom-color: white;
}

#sostituzioni-filtri-container .sostituzioni-ordinamento .sostituzioni-ordinamento-arrowdown.selected {
    border-top-color: white;
}


/* DROPDOWN SUGGERIMENTI */
#sostituzioni-filtri-container .sostituzioni-filtri-dropdown {
    display: none;
    position: absolute;
    /* altezza div filtri*/
    translate: 0 50px;
    overflow: auto;
    z-index: 10;
    width: auto;
    min-width: 14rem;
    max-width: 20rem;
    height: auto;
    min-height: 1rem;
    max-height: 20rem;
    background-color: white;
    box-shadow: 1px 5px 8px 0px #0000006e;
}

#sostituzioni-filtri-container .sostituzioni-filtri-dropdown li {
    display: flex;
    height: 1.6rem;
    padding: 0 1rem;
}

#sostituzioni-filtri-container .sostituzioni-filtri-dropdown li:hover,
#sostituzioni-filtri-container .sostituzioni-filtri-dropdown li.lista_current {
    background-color: #cccccc;
}

#sostituzioni-filtri-container .sostituzioni-filtri-dropdown li span {
    margin: auto 0;
}


/* SOSTITUZIONI */
#sostituzioni-container {
    overflow: auto;
    height: 100%;
    max-height: 100%;
    min-width: 900px;
    /* questo min-width è stato messo sia per mantenere spazio per la lettura chiara dei dati, sia perché i filtri non erano allineati con i dati
    todo: rimuovere e cercare di rendere responsive l'area filtri */
}

#sostituzioni-messaggio-informativo {
    display: flex;
    width: 100%;
    height: 100%;
}

#sostituzioni-messaggio-informativo span {
    margin: auto;
    font-size: 20px;
    color: #ffffffad;
}


/* LISTA SOSTITUZIONI */
#sostituzioni-lista {
    margin-left: 0.5vw;
}

#sostituzioni-lista li {
    position: relative;
    width: 100%;
}

/* SINGOLA SOSTITUZIONE */
#sostituzioni-lista .sostituzione {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 100%;
    min-height: 2.5rem;
    max-height: 4rem;
    background-color: var(--color-sostituzioni-lista2);
    border-radius: 0;
}

/* colori alternati */
#sostituzioni-lista :nth-child(odd) .sostituzione {
    background-color: var(--color-sostituzioni-lista1);
}

#sostituzioni-lista .sostituzione div.sostituzione-data {
    display: flex;
    overflow: auto;
    border-right: 1px solid var(--color-sostituzioni-lista1);
}

#sostituzioni-lista :nth-child(odd) .sostituzione div.sostituzione-data {
    border-right: 1px solid var(--color-sostituzioni-lista2);
}

#sostituzioni-lista .sostituzione div.sostituzione-data span {
    margin: auto;
    margin-left: 10px;
}


/* fix radius del primo elemento a sinistra */
#sostituzioni-lista .sostituzione div.sostituzione-data:first-of-type {
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}

/* e dell'ultimo a destra */
#sostituzioni-lista .sostituzione div.sostituzione-data:last-of-type {
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    border-right: none;
}

#sostituzioni-lista .sostituzione-data {
    width: 8rem;
}

#sostituzioni-lista .sostituzione-ora {
    width: 8rem;
}

#sostituzioni-lista .sostituzione-classe {
    width: 8rem;
}

#sostituzioni-lista .sostituzione-aula {
    width: 8rem;
}

#sostituzioni-lista .sostituzione-docente {
    width: 15rem;
}

#sostituzioni-lista .sostituzione-note {
    flex-grow: 1;
}


#sostituzioni-lista .sostituzione-pulsanti {
    position: absolute;
    right: 0;
    display: flex;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s;
}

#sostituzioni-lista button {
    margin: auto;
}

#sostituzioni-lista li:hover .sostituzione-pulsanti {
    opacity: 1;
}

/* POPUP */
#gestione-dati-container {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #0000001f;
    /* pointer-events: none; */
}

#gestione-dati-frame {
    /* pointer-events: all; */
    min-width: 400px;
    min-height: 500px;
    width: 70%;
    height: 80%;
    margin: auto;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 10px 25px #00000032;
}

/* test */
#gestione-dati-frame div {
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    box-shadow: 0 2px 5px #00000099;
}