* {
    font-family: 'Gabarito', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

.hidden {
    display: none !important;
}

html,
body {
    margin: 0;
    height: 100%;
}

body {
    min-width: 400px;
    min-height: 500px;
    width: 100%;
    height: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* SCROLLBAR */
* {
    scrollbar-width: 8px;
    scrollbar-color: var(--color-scrollbar) transparent;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-scrollbar-hover);
}


/* ICONS */
.material-symbols-rounded {
    user-select: none;
    padding: 5px;
}

/* TOOLTIP */
.has-tooltip {
    position: relative;
}

.has-tooltip:hover .tooltip {
    visibility: visible;
    opacity: 1
}

.tooltip {
    position: absolute;
    bottom: 100%;
    left: 50%;
    translate: -50% 0;
    opacity: 0;
    visibility: hidden;
    background-color: black;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 110;
    font-size: 14px !important;
    text-wrap: nowrap;
    transition: opacity 0.2s;
    transition-delay: 0.5s;
}

.tooltip::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}


/* MAIN GRID  */
#main-window {
    height: calc(100% - 65px);
    overflow-y: auto;
    max-width: 100%;
}

#main-container {
    background-color: var(--color-background);
    width: 100%;
    height: 100%;
    max-height: 100%;
    padding: 0.5vw;
    display: grid;
    /* usare percentuali esatte invece che 1fr per rendere statico il layout e far funzionare gli scroll */
    grid-template-columns: 20% 80%;
    grid-template-rows: 50% 50%;
}

.frame {
    /* border: 2px solid; */
    border-radius: 1rem;
    margin: 0.3vw;
}

#eventi-frame {
    grid-area: 1/1/2/2;
    background-color: var(--color-eventi-bg);
}

#notizie-frame {
    grid-area: 2/1/3/2;
    background-color: var(--color-notizie-bg);
}

#sostituzioni-frame {
    grid-area: 1/2/3/3;
    background-color: var(--color-sostituzioni-bg);
    display: flex;
    flex-direction: column;
}

@media (max-width: 1000px) {
    #main-container {
        padding: 0;
        grid-template-columns: 1fr;
        grid-template-rows: 90% 50% 50%;
    }

    #eventi-frame {
        grid-area: 2/1/3/2;
    }

    #notizie-frame {
        grid-area: 3/1/4/2;
    }

    #sostituzioni-frame {
        grid-area: 1/1/2/2;
    }

    .frame {
        overflow-x: auto;
        margin: 0;
        border-radius: 0;
    }
}


/* HEADER SOSTITUZIONI */
#header-sostituzioni {
    display: flex;
    height: 80px;
    min-height: 80px;
}

#header-sostituzioni-titolo {
    font-size: 35px;
    margin: auto 30px;
}

#pulsanti-header-sostituzioni {
    display: flex;
    margin: auto;
    margin-right: 0;
    gap: 5px;
}

#pulsanti-header-sostituzioni div {
    cursor: pointer;
}

#pulsanti-header-sostituzioni span {
    font-size: 30px;
}

.pulsante {
    border: none;
    border-radius: 1rem;
    box-shadow: 0 1px 3px var(--color-shadow), 0 1px 2px var(--color-shadow);
    transition: translate 0.2s, box-shadow 0.2s, scale 0.1s;
    user-select: none;
}

.pulsante:hover {
    translate: 0 -1px;
    box-shadow: 0 5px 10px var(--color-shadow), 0 5px 5px var(--color-shadow);
}

.pulsante:active {
    scale: 0.95;
}

.pulsante-inserimento {
    background-color: var(--color-accent);
    color: var(--color-accent-text);
}

#pulsante-nuova-sostituzione {
    display: flex;
    padding: 10px 10px;
    margin: auto 30px;
}

#pulsante-nuova-sostituzione span.text {
    margin: auto 10px auto 0;
    font-size: 25px;
}

#pulsante-nuova-sostituzione span.icon {
    font-size: 30px;
}

#sostituzioni-main {
    flex: 1;
    overflow-x: auto;
    height: calc(100% - 80px);
    padding: 0 0.5vw;
}

#sostituzioni-container {
    min-width: 900px;
    height: 100%;
    /* questo min-width è stato messo per mantenere spazio per la lettura chiara dei dati, */
}


/* FILTRI SOSTITUZIONI */
#sostituzioni-filtri-container {
    display: flex;
    flex-wrap: nowrap;
    height: 50px;
    width: 100%;
    background-color: var(--color-sostituzioni-filtri-bg);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#sostituzioni-filtri-container>div {
    height: 100%;
}

/* larghezza dei riquadri dei filtri, da matchare con i riquadri delle sostituzioni */
#sostituzioni-filtro-data,
#sostituzioni-lista .sostituzione-data {
    width: 7rem;
}

#sostituzioni-filtro-ora,
#sostituzioni-lista .sostituzione-ora {
    width: 8rem;
}

#sostituzioni-filtro-aula,
#sostituzioni-lista .sostituzione-aula {
    width: 8rem;
}

#sostituzioni-filtro-classe,
#sostituzioni-lista .sostituzione-classe {
    width: 8rem;
}

#sostituzioni-filtro-docente,
#sostituzioni-lista .sostituzione-docente {
    width: 15rem;
}

#sostituzioni-filtro-note,
#sostituzioni-lista .sostituzione-note {
    flex: 1;
}

#sostituzioni-filtro-data {
    position: relative;
    height: 100%;
    display: flex;
}

#sostituzioni-filtro-data:focus #sostituzioni-filtro-data-expandible {
    width: 250px;
    height: 200px;
}

#sostituzione-filtro-data-testo {
    margin: auto;
    margin-left: 10px;
    color: var(--color-sostituzioni-filtri-placeholder);
}

#sostituzioni-filtro-data-expandible {
    position: absolute;
    width: 100%;
    height: 0;
    top: 100%;
    background-color: var(--color-background);
    border-bottom-right-radius: 1rem;
    box-shadow: 5px 5px 10px var(--color-shadow);
    z-index: 10;
    overflow: hidden;
    transition: 0.3s;
}


/* SINGOLO FILTRO */
#sostituzioni-filtri-container .sostituzioni-filtri-ricerca {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

#sostituzioni-filtri-container .sostituzioni-filtri-ricerca input {
    height: 100%;
    width: calc(100% - 20px);
    padding: 10px 10px;
    outline: none;
    border: none;
    background-color: inherit;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

#sostituzioni-filtri-container .sostituzioni-filtri-ricerca input::placeholder {
    color: var(--color-sostituzioni-filtri-placeholder);
    font-weight: normal;
}

/* INDICATORE ORDINAMENTO */
#sostituzioni-filtri-container .sostituzioni-ordinamento {
    height: 100%;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

#sostituzioni-filtri-container .sostituzioni-ordinamento .sostituzioni-ordinamento-arrowup {
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-color: var(--color-sostituzioni-filtri-placeholder);
}

#sostituzioni-filtri-container .sostituzioni-ordinamento .sostituzioni-ordinamento-arrowdown {
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top-color: var(--color-sostituzioni-filtri-placeholder);
}

#sostituzioni-filtri-container .sostituzioni-ordinamento .sostituzioni-ordinamento-arrowup.selected {
    border-bottom-color: var(--color-sostituzioni-filtri-fg);
}

#sostituzioni-filtri-container .sostituzioni-ordinamento .sostituzioni-ordinamento-arrowdown.selected {
    border-top-color: var(--color-sostituzioni-filtri-fg);
}


/* DROPDOWN SUGGERIMENTI */
#sostituzioni-filtri-container .selezione-dropdown {
    /* altezza div filtri*/
    translate: 0 50px;
}


/* SOSTITUZIONI */
#sostituzioni-lista-container {
    overflow-y: auto;
    height: calc(100% - 50px);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

#sostituzioni-messaggio-informativo {
    display: flex;
    width: 100%;
    height: 100%;
}

#sostituzioni-messaggio-informativo span {
    margin: auto;
    font-size: 20px;
    color: #00000070;
}


/* LISTA SOSTITUZIONI */
#sostituzioni-lista {}

#sostituzioni-lista li {
    position: relative;
    width: 100%;
}

/* SINGOLA SOSTITUZIONE */
#sostituzioni-lista .sostituzione {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 100%;
    min-height: 2.5rem;
    max-height: 4rem;
    background-color: var(--color-sostituzioni-lista2);
    border-radius: 0;
}

/* colori alternati */
#sostituzioni-lista :nth-child(odd) .sostituzione {
    background-color: var(--color-sostituzioni-lista1);
}

#sostituzioni-lista .sostituzione:hover,
#sostituzioni-lista .sostituzione:focus-visible,
#sostituzioni-lista .sostituzione.context-menu-active {
    background-color: #dbdbdb;
}

#sostituzioni-lista .sostituzione div.sostituzione-data {
    display: flex;
    overflow: auto;
    border-right: 1px solid var(--color-sostituzioni-lista1);
}

#sostituzioni-lista :nth-child(odd) .sostituzione div.sostituzione-data {
    border-right: 1px solid var(--color-sostituzioni-lista2);
}

#sostituzioni-lista .sostituzione div.sostituzione-data span {
    margin: auto;
    margin-left: 10px;
}


/* fix radius del primo elemento a sinistra */
#sostituzioni-lista .sostituzione div.sostituzione-data:first-of-type {
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}

/* e dell'ultimo a destra */
#sostituzioni-lista .sostituzione div.sostituzione-data:last-of-type {
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    border-right: none;
}


/* HEADER EVENTI */
#header-eventi {
    display: flex;
    height: 70px;
}

#header-eventi-titolo {
    margin: auto 20px;
}

#header-eventi-pulsanti {
    margin: auto;
    margin-right: 20px;
    display: flex;
    gap: 10px;
}

#header-eventi-pulsanti div {
    margin: auto;
}

#pulsante-nuovo-evento {
    padding: 5px;
    border-radius: 10px;
}

/* LISTA EVENTI */
#eventi-container {
    height: calc(100% - 70px);
    margin: 0 10px;
    overflow: auto;
}

#eventi-lista-container {}

.evento {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    padding: 10px 15px;
    gap: 10px;
    background-color: #f3f3f3;
    border-radius: 1rem;
}

.evento-data {
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    /* font-style: italic; */
    color: #414141;
}

.evento-testo {
    flex: 1
}


/* HEADER NOTIZIE */
#header-notizie {
    display: flex;
    height: 70px;
}

#header-notizie-titolo {
    margin: auto 20px;
}

#pulsante-nuova-notizia {
    margin: auto;
    margin-right: 20px;
    padding: 5px;
    border-radius: 10px;
}

/* LISTA NOTIZIE */
#notizie-container {
    height: calc(100% - 70px);
    padding: 0 10px;
    overflow: auto;
}

#notizie-lista-container {}

.notizia {
    margin: 3px 0;
    padding: 10px 15px;
    background-color: #f3f3f3;
    border-radius: 1rem;
}


/* SELEZIONE */
.selezione-dropdown {
    display: none;
    position: absolute;
    overflow: auto;
    z-index: 20;
    width: auto;
    min-width: 14rem;
    max-width: 20rem;
    height: auto;
    min-height: 1rem;
    max-height: 20rem;
    padding: 5px 0;
    background-color: white;
    box-shadow: 1px 5px 8px 0px var(--color-shadow);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.selezione-dropdown li {
    display: flex;
    padding: 5px 1rem;
}

.selezione-dropdown li:hover,
.selezione-dropdown li.lista_current {
    background-color: #cccccc;
}

.selezione-dropdown li span {
    margin: auto 0;
}


/* CONTEXT MENU */
#context-menu {
    position: absolute;
    user-select: none;
    color: var(--color-selezione-fg);
    background-color: var(--color-selezione-bg);
    box-shadow: 0px 3px 5px #00000088;
    border-radius: 10px;
    font-size: 18px;
}

#context-menu:focus {
    outline: none;
}


#context-menu .pulsante-context-menu {
    display: flex;
    width: 100%;
    padding: 10px 25px 10px 15px;
    font-size: 18px;
    background-color: inherit;
    border-radius: 10px;
    border: none;
}

#context-menu .pulsante-context-menu:hover {
    background-color: var(--color-selezione-hover-bg);
}

#context-menu .pulsante-context-menu:last-child:hover {
    color: var(--color-selezione-hover-delete-fg);
    background-color: var(--color-selezione-hover-delete-bg);
}

#context-menu .pulsante-context-menu span:last-child {
    margin: auto;
    margin-left: 10px;
}

#dialog-conferma-elimina {
    display: flex;
    flex-direction: column;
}

#dialog-conferma-elimina-titolo {
    margin: auto;
}

#dialog-conferma-elimina-storico {
    flex: 1;
    margin: auto;
    margin-bottom: 15px;
}

#dialog-conferma-elimina-pulsanti {
    margin: auto;
}

#dialog-conferma-elimina-pulsanti button {
    margin: 5px;
    padding: 15px 30px;
}