.selezione-dropdown {
  display: none;
  position: absolute;
  overflow: auto;
  z-index: 20;
  width: auto;
  min-width: 14rem;
  max-width: 20rem;
  height: auto;
  min-height: 1rem;
  max-height: 20rem;
  padding: 5px 0;
  color: var(--color-selezione-fg);
  background-color: var(--color-selezione-bg);
  box-shadow: 1px 5px 8px 0px var(--color-shadow);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.selezione-dropdown li {
  display: flex;
  padding: 5px 1rem;
}

.selezione-dropdown li:hover,
.selezione-dropdown li.lista_current {
  background-color: var(--color-selezione-hover-bg);
}

.selezione-dropdown li span {
  margin: auto 0;
}

.selezione-dropdown:has(ul:empty) {
  display: none !important;
}