* {
    font-family: 'Gabarito', sans-serif;
    box-sizing: border-box;
    min-width: 0;
    min-height: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}

#main-container {
    display: flex;
    gap: 5%;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 5%;
}

#text-container {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#version {
    display: flex;
}

#version>span {
    margin-top: auto;
}

#version a {
    position: relative;
    color: black;
    transition: all 0.2s;
}

#version a::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: var(--color-accent);
    transition: width 0.3s;
}

#version a:hover::after {
    left: 0;
    right: auto;
    width: 100%;
}

#title-container {
    display: grid;
    align-items: center;
}

#title {
    font-size: 3rem;
    font-weight: 700;
    margin: 3vh 0;
}

#description {
    margin: 0;
    font-size: 1.5rem;
}

#release-notes-container {
    margin: 1vh;
    font-size: 1.2rem;
    padding: 3vh 4vh;
    border-radius: 2vh;
    background-color: var(--color-opzioni);
    transition: all 0.5s 0.5s;
}

#release-notes-container:not(.visible) {
    opacity: 0;
    padding: 0;
    margin: 0;
}

#release-notes {
    margin: 1rem 0.5rem;
}

#button-container {
    flex: 1;
    min-width: fit-content;
    max-width: 450px;
    display: grid;
    align-items: center;
}

#button {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    width: 200px;
    max-width: 100%;
    border-radius: 70px;
    background-color: var(--color-pulsante);
    color: var(--color-accent-text) !important;
    transition: width 0.3s, box-shadow 0.5s ease-out;
    user-select: none;
}

#button.active {
    width: min(500px, 100%);
    box-shadow: 0 5px 10px #00000080, 0 15px 30px #00000055;
    cursor: pointer;
    transition-delay: 0.3s, 0s;
}

#button.active:hover {
    box-shadow: 0 10px 20px #00000080, 0 30px 60px #00000055;
}

#button-text-container {
    max-width: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: 700;
    opacity: 0;
    transition: all 0.3s;
}

#button.active #button-text-container {
    max-width: 100%;
    opacity: 1;
    transition-delay: .4s;
}

#button-text-container-inner {
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    text-wrap: nowrap;
    min-width: auto;
}

#button-text {
    color: inherit;
}

#button-icon {
    font-size: 3rem;
    margin-left: 0.5rem;
    padding-top: 5px;
    color: inherit;
    transition: all 0.3s;
}

#button.active:hover #button-icon {
    translate: 1rem 0;
}

#loading-container {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 150px;
    height: 150px;
    opacity: 0;
    transition: opacity 0.5s;
}

#button:not(.active) #loading-container {
    opacity: 1;
    transition-delay: 0.5s;
}

#loading {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 10px solid var(--color-accent-text);
    border-top-color: transparent;
    animation: loading 1s cubic-bezier(.2, .45, 1, .8) infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes text-fadein {
    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 1300px) {
    #main-container {
        flex-direction: column;
        padding: 0 5vw;
    }

    #title {
        font-size: 10vw;
    }
}

@media (max-width: 500px) {

    #description,
    #version {
        font-size: 4vw;
    }

    #button-text-container-inner {
        font-size: 10vw;
    }
}

@media (max-width: 350px) {
    #button-text-container-inner {
        width: 100%;
        flex-direction: column;
        text-align: center;
    }

    #button-text {
        display: none;
    }
}